[2017-05-11 00:00] bkrem opened #1 "Move from external D3.v3 dependency to packaged d3-hierarchy"

[2017-05-16 13:48] bkrem opened #2 "Add parseCSV/parseJSON transform util"
- [x] Implementation
- [ ] Unit test
- [x] Docs

[2017-05-16 13:49] bkrem opened #3 "Add animated transitions via react-transition-group"
- [x] Implementation
- [x] Unit test
- [x] Docs

[2017-05-17 22:14] bkrem opened #4 "Add zoom functionality"
- [x] Implementation
- [x] Unit test
- [x] Docs

[2017-05-20 15:58] #4 closed

[2017-05-22 11:11] bkrem opened #5 "Add "Fixed Depth" option"
- [x] Implementation
- [x] Unit test
- [x] Docs

[2017-05-22 11:11] #1 closed

[2017-05-22 15:01] #5 closed

[2017-06-01 20:57] bkrem opened #6 "Add animated transitions via react-motion"
- [ ] Implementation
- [ ] Unit test
- [ ] Docs

[2017-06-03 16:21] #6 closed

[2017-06-03 17:11] bkrem opened #7 "Update to latest React release, switch to new external `prop-types`"

[2017-06-08 19:18] #3 closed

[2017-06-08 19:41] bkrem opened #8 "Fix orphaned nodes on fast expanse/collapse"
Currently when a node is expanded and then quickly collapsed again (before the transition completes) the child nodes are orphaned and persist in the DOM even as the underlying data changes.

[2017-06-09 18:20] bkrem opened #9 "Reimplement zoom behaviour"
- [x] Implementation
- [x] Unit test
- [ ] Docs

[2017-06-09 19:26] #9 closed

[2017-06-10 18:17] bkrem opened #10 "Prevent tree jumping on changed translate props post-mount"
Rebind Tree via `bindZoomListener` if translate prop changed in order to prevent tree jumping on zoom/pan.

[2017-06-12 19:25] bkrem opened #11 "Expose style object props"
- [x] Implementation
- [x] Unit test
- [x] Docs

[2017-06-13 14:23] #11 closed

[2017-06-13 15:06] #10 closed

[2017-06-13 19:15] #7 closed

[2017-06-15 20:15] bendulum opened #12 "Suggestions"
For large data sets with loads of parallel nodes the tree width (or height) gets very big.
Spacing could be optimized in such cases (margins between the nodes).

It would also be nice to be able to provide a custom render function for each node.

Anyways, nice job! I'm looking forward to what else you might add in the future.

[2017-06-16 11:20] bkrem commented on #12
Thank you for the suggestions @bendulum, appreciate the input since I need to know what people's typical data sets/use cases would be for the component.

Exposing a prop for custom node margins is on the list for sure, can you describe for me what exactly you mean by custom render function in this context? I.e. what would the differences in rendered nodes be?

[2017-06-16 13:55] bkrem opened #13 "Expose `separation` prop"
- [x] Implementation
- [x] Unit test
- [x] Docs

[2017-06-16 13:56] bkrem opened #14 "Expose prop to configure node text anchoring/positioning"
- [ ] Implementation
- [ ] Unit test
- [ ] Docs

[2017-06-17 13:58] bkrem opened #15 "Automate all release tasks via NPM script"
1. Bump `package.json` version
2. Generate new minified bundle
3. Regenerate component/util docs
4. `npm publish`

[2017-06-17 14:17] bkrem opened #16 "Simplify `parse[FileType]` methods & allow specifying parent/child field names"
Use an options object (i.e. `parse[FileType](fileName, opts)` signature) rather than individual parameters to simplify setting parse configs for specific file + provide extensibility.

- [ ] Implementation
- [ ] Unit test
- [ ] Docs

[2017-06-17 19:30] #15 closed

[2017-06-19 13:26] bkrem commented on #12
Thanks for detailing out your suggestion @bendulum!

Exposing a custom node spacing/margin function is now in the roadmap (#13).

I'll have to think some more on how to best implement discretionary rendering of individual nodes as you suggested and how I should prioritise it compared to other possible features.
In the meantime, feel free to submit a feature PR if you want this and I'll be happy to

[2017-06-19 13:26] #12 closed

[2017-06-20 16:17] bkrem opened #17 "Expose `nodeSize` prop"
- [x] Implementation
- [x] Unit test
- [x] Docs

[2017-06-24 16:43] bkrem opened #18 "Expose `circleRadius` prop"
- [x] Implementation
- [x] Unit test
- [ ] Docs

[2017-06-24 18:12] #13 closed

[2017-06-24 18:12] #17 closed

[2017-06-24 18:16] bkrem opened #19 "Implement onClick hook"
Currently it isn't possible to specify a handler at the `<Tree />` level for node `onClick` events.

- [x] Implementation
- [x] Unit test
- [x] Docs

[2017-06-24 18:41] #18 closed

[2017-06-29 10:58] Suzanna-Manoj-Williams commented on #19
Can we get the metadata of the node clicked?

[2017-06-29 11:32] bkrem commented on #19
Hi Suzanna,

Can definitely push this as `1.3.1`, what exactly do you define as metadata in this case?

[2017-06-29 11:38] Suzanna-Manoj-Williams commented on #19
Hi,
All the nodes should be able to contain the metadata related like id, label etc. So on click, all these data should be accessible on the callback.

eg: children:[
       {
          name: "child1",
          metadata: {
               id: 1
          }
]

So if we click on this node, I should receive, {name: child1, id: 1}

[2017-06-29 11:46] Suzanna-Manoj-Williams opened #20 "Leaf nodes should not overlap on each other."
Css is messed up when the leaf node label is long, the leaf nodes overlap

- [ ] Implementation
- [ ] Unit test
- [ ] Docs

[2017-06-29 11:51] bkrem commented on #20
This unfortunately can't be avoided by default for any arbitrary dataset.
The `nodeSize` and `separation` props can be used to avoid label collisions for now. If that still doesn't work please copy/paste a your dataset here for me to reproduce the issue.

[2017-06-29 12:00] #20 closed

[2017-06-29 14:14] Suzanna-Manoj-Williams commented on #19
Is it possible to release with this requirement today? I need this kinda urgent. Thank you.

[2017-06-29 14:18] bkrem commented on #19
I'm currently at work but I will try to fit it in afterwards :)

In the meantime feel free to add a pull request with your suggested changes if it's urgent for you.

[2017-06-30 19:35] bkrem opened #21 "Pass clicked node's data into onClick handler"
Implements feature request made in #19.

- [x] Implementation
- [x] Unit test
- [x] Docs

[2017-06-30 19:36] #19 closed

[2017-06-30 20:40] #21 closed

[2017-06-30 20:45] bkrem commented on #19
@Suzanna-Manoj-Williams

Published `1.3.1`, onClick handler now passes `nodeData` as the first param of the callback function.

[2017-07-02 20:22] bkrem opened #22 "Add `debounce`/`throttle`"
- [ ] Implementation
- [ ] Unit test
- [ ] Docs

[2017-07-15 17:07] bkrem opened #23 "Add prop for colour transforms based on node depth"
- [ ] Implementation
- [ ] Unit test
- [ ] Docs

[2017-07-23 00:46] justinsisley opened #24 "onClick is ignored if collapsible prop is false"
- [X] Implementation
- [x] Unit test
- [x] ~~Docs~~ (unchanged)

In _/src/Tree/index.js_, line 187, the `handleNodeToggle` method only calls the `handleOnClickCb` method if `this.props.collapsible` is true.

I don't think it makes sense to make the `onClick` prop dependent on using the `collapsible` prop.

[2017-07-23 00:49] justinsisley commented on #24
Fix may look something like:

[code]

What do you think?

[2017-07-23 04:33] justinsisley opened #26 "Nodes render below links (Z axis)"
- [X] Implementation
- [ ] Unit test
- [ ] Docs

Due to the order of rendering nodes before links in `/src/Tree/index.js` (line ~282), nodes appear below links. This can be verified by setting the node color to a light color, and leaving the link color its default black.

I'm making an assumption on this, but I would think most users would prefer the links to appear as though they are passing unde

[2017-07-23 04:35] justinsisley commented on #26
Reverted fix, as this will collide with my other PR. I should have made my previous PR on a branch.

[2017-07-23 11:22] bkrem commented on #24
Hi Justin, yes you're absolutely right it doesn't really make sense to exclude non-collapsible trees from handling onClick events, I was clearly too tired when I added that prop!

PR looking good, going to check over it and then merge if we're all good 👍

[2017-07-23 11:50] #24 closed

[2017-07-23 14:13] bkrem commented on #26
Agreed, it looks as you'd expect this way; haven't been able to commit much time to working on styling/appearance so this will be a welcome PR 🚀

[2017-07-23 14:21] bkrem opened #28 "Flatten structure of `styles` object"
Current structure of object expected by `styles` prop is too nested.

Refactor current:
[code]

to:
[code]

----------------------------------------------------------------------
- [x] Implementation
- [x] Unit test
- [x] Docs

[2017-07-23 14:26] #2 closed

[2017-07-23 16:37] justinsisley commented on #26
I'll jump on this now.

[2017-07-23 18:34] #26 closed

[2017-07-28 14:35] jmorrice commented on #8
+1!

[2017-08-02 21:17] ryuken commented on #23
does this mean that you can color a specific node?
i.e. you have 3 circles with colors red, blue, yellow
   -
-    -

[2017-08-03 10:48] bkrem commented on #23
Hi @ryuken,

Yes that's the main idea 😄

Ideally I'd like to let the user provide a gradient, e.g. that the nodes get lighter/darker as depth increases, or that they transition from one colour to another.

But the first iteration will be a simple step-wise definition for colour by depth, something like:

[code]

where `green` is applied to all nodes @ depth 1, `blue` @ depth 2...etc

I'm super bus

[2017-09-06 14:24] dirodrigues opened #31 "Allow passing SVG shape prop (e.g. <rect>, <polygon>) to use as SVG element for nodes"
Hi there, first of all awesome work on this library.
I am very very new to using d3, I was wondering if it is possible to render rectangles instead  of circles.
I am trying to implement something along the lines of this: http://justincy.github.io/d3-pedigree-examples/basic.html , and would love your help.
Looking into your implementation `https://github.com/bkrem/react-d3-tree/blob/master/src/Node

[2017-09-07 18:24] bkrem commented on #31
Hey @dirodrigues, sorry for the delayed response!

That's a good point, being able to pass SVG shapes as a top-level prop would be way better.

Will jump on this hopefully tomorrow after work or during the weekend, in the meantime feel free to put in your own PR for it if you'd like :)

[2017-09-07 18:34] bkrem opened #32 "Support flexbox arrangement for node labels/contents"
- [ ] Implementation
- [ ] Unit test
- [ ] Docs

Being able to arrange the labels of each node in a flexbox-like way would make layouts more consistent and less frustrating when node labels vary strongly in length.

https://github.com/dlmanning/react-flexbox-svg
http://blog.scottlogic.com/2015/02/02/svg-layout-flexbox.html

[2017-09-08 09:39] dirodrigues commented on #31
Hi @bkrem, I'm going to give it a go today, I'll keep you posted.
Thanks again

[2017-09-08 10:58] bkrem commented on #31
Awesome! Let me know if something is unclear/you get stuck, I'll do my best to reply to you ASAP

[2017-09-26 00:01] bkrem commented on #31
Hey @dirodrigues,

Have some time this week to work on this, but will hold off if you're still looking to publish a PR. Happy to help out on your fork or merge your WIP into a feature branch here if you want to collaborate :)

[2017-09-28 01:23] RohanDamani opened #33 "Bug: initialDepth prop rendering nodes without links"
There is a bug with the initialDepth prop.  The nodes are displaying without the links, beyond the initial depth.

`<Tree data={myTreeData} initialDepth={2} />` is rendering

![image](https://user-images.githubusercontent.com/8662419/30945081-c5daee24-a3b0-11e7-9b26-b943eb25d5f8.png)

[2017-09-28 15:54] bkrem commented on #33
Hi @RohanDamani,

Thank you for opening an issue, this definitely looks strange.

Could you please post what `myTreeData` looks like and/or any errors that are logged to the console?
I tried to reproduce this with the example `myTreeData` shown in the documentation but wasn't able to: https://codesandbox.io/s/nno54xywrj

If you're able to reproduce this in the sandbox or post steps on how to repro

[2017-09-28 16:08] bkrem commented on #8
Apologies that this hasn't been resolved yet, tried debugging this multiple times in my spare time but haven't been able to pin down the cause yet.

Tackling it again this week, but would love to hear any suggestions/advice you guys have + of course your own PRs to patch this are welcome anytime.

[2017-09-28 22:29] RohanDamani commented on #33
I've figured out what is causing it! Do you use Redux?

When dispatching an ascync action on componentDidMount or componentWillMount, as the fetch resolves, and updates the store state, it conflicts.

Not sure why or how, but it seems like the redux update timing is overriding the process to turn the opacity of the 'closed' leaves to 0.

I added a check to see if the results from the fetch existed

[2017-09-29 13:48] bkrem commented on #33
The library doesn’t use redux, just react’s `setState` and changes propagate via the components’ props.

Please post a link to your reproduction case, I have no way to test for and fix this case otherwise.

[2017-10-03 15:45] iqbalhussain931 commented on #31
Hey @bkrem ,
great library awesome work, really appreciate your effort making this awesome library. 👍  However, I need to use some shapes to style the tree making it a little more interactive, waiting for you and @dirodrigues to add that feature. Thanks in advance :)

[2017-10-03 16:53] bkrem commented on #31
Hey @iqbalhussain931,

Thanks, always nice to hear kind words after putting a lot of effort into something like this :)

Yeah I'm keen to get this implemented since I'm sure there will be plenty more people looking to do this in the future.
Will hopefully have this done by the end of the week latest, will start my own branch since I haven't heard back from @dirodrigues but still keen to fast-forwa

[2017-10-04 14:50] bkrem commented on #33
Closing since I can't reproduce this without a detailed description/repro link.

Feel free to open another issue with a reproduction case and I'll make sure to get it fixed :+1:

[2017-10-04 14:50] #33 closed

[2017-10-04 22:05] RohanDamani commented on #33
Thanks

[2017-10-06 15:16] iqbalhussain931 commented on #31
Just to get a clear picture, what i want my tree to look like.

![demo-tree](https://user-images.githubusercontent.com/23423898/31284765-f714db20-aad2-11e7-9b52-e8388ee6618c.png)

@bkrem Thanks in advanced .

[2017-10-06 17:23] bkrem commented on #31
That's a great use case @iqbalhussain931. It's the level of complexity I'm aiming at getting the library to when it comes to specifying shapes for each individual node.

I've almost finished the `nodeSvgShape` prop, but this currently only allows setting a shape for **all** nodes in the tree.
Once this is stable, I'm going to look into implementing shapes via `nodeData` so each node can specify it

[2017-10-06 18:21] iqbalhussain931 commented on #31
Exactly specifying shapes for each individual node 👍 for now setting a single shape for all nodes will do :)
Thankyou

[2017-10-06 21:33] bkrem opened #34 "Implement `textLayout` prop to modify node name/attributes positioning"
- [x] Implementation
- [x] Unit test
- [x] Docs

[2017-10-07 16:10] iqbalhussain931 commented on #31
@bkrem can you make a build or release of this feature and merge it with master ?

[2017-10-07 16:11] bkrem commented on #31
@iqbalhussain931 Literally about to do that! Wanted to add another prop (`textLayout`) to make the shapes significantly more useful before releasing v1.5.

[2017-10-07 16:14] #34 closed

[2017-10-07 16:41] bkrem commented on #31
Released in v1.5.0 ✨ ( 👉  [Release Notes](https://github.com/bkrem/react-d3-tree/releases/tag/v1.5.0))

Closing this feature request now.
Please open new issue tickets for 1.5.0 if needed, thank you for all your input here, it's been really useful! :)

cc @iqbalhussain931 @dirodrigues @li-xinyang

[2017-10-07 16:41] #31 closed

[2017-10-07 16:57] iqbalhussain931 commented on #31
@bkrem great work 👍 but i think wouldn't it be better if a node(circle,rect) its self contains the text(name,attribute) in it as i have shown in the example picture, Or as it is now in v1.5.0 node shapes are perfect but text(name,attribute) could be in another shape example rectangle and easily style that rectangle too. that you think?

[2017-10-07 17:04] bkrem commented on #31
@iqbalhussain931 I agree, unfortunately "a contains b" is pretty complex on an SVG canvas since it's basically just an x-y axis graph without in-built relative layouts.

I'm considering how this can nicely be solved for v2.
In the meantime this is what `textLayout` is for so the text can be positioned manually to your liking, e.g. check the `<rect>` example on the demo page.
I'm planning on adding

[2017-10-07 17:16] iqbalhussain931 commented on #31
yes i have checked the demo its nice. i appreciated you effort on this thank you for this feature. though i have lots of ideas  and love to share them with you to make tree more rich easy to use and most importantly interactive for users.

[2017-10-07 17:18] bkrem commented on #31
That would be awesome! Feel free to just open another issue with a feature description and we can do that 😄

[2017-10-07 19:39] #14 closed

[2017-10-09 07:24] iqbalhussain931 opened #35 "Each node different styles (width,height,styles) - Enhancement Feature"
@bkrem same goes for the text attribute each node text/attributes can be positioned individually.

I hope you get my idea its pretty clear in the demo picture below :) waiting for you reply and what are you thoughts about this features :)
![demo-tree-part-1](https://user-images.githubusercontent.com/23423898/31328084-8ba6a33e-acec-11e7-997e-499a7b7f7edb.png)

[2017-10-09 13:24] bkrem commented on #35
Hey @iqbalhussain931, this is great, thanks for taking the time to make a sketch! 👏

Will try to get this implemented after work at some point this week, might take longer though if breaking changes can’t be avoided, i.e. it needs to be published as v2. Should be possible as a minor release though hopefully.

Also hey if you feel like it feel free to work on it and shoot me a PR! :)

[2017-10-09 13:49] iqbalhussain931 commented on #35
I understand sure that your time @bkrem and though i am at a beginners level on react but would loved to be a part of this but surely will need your help too :)

[2017-10-14 01:30] Emsu opened #36 "Node Children"
As a separate prop maybe called `children` it would be great to pass children into the `nodeSvgShape` to allow for SVG nodes that are more complex than a shape.

I may be able to get the implementation working but might need some help.

- [ ] Implementation
- [ ] Unit test
- [ ] Docs

[2017-10-14 01:33] Emsu opened #37 "Custom `pathFunc`"
Besides elbow, diagonal, and straight, would be great to pass a custom func. My use case is an elbow like func with 4 segments instead of 2.

Looks like we can just add function as an acceptable propType in the enum and call the function if a function is given otherwise check for 'straight', 'diagonal', and 'elbow' as is currently done.

- [x] Implementation
- [x] Unit test
- [x] Docs

[2017-10-14 11:35] iqbalhussain931 commented on #35
Hey @bkrem
how are you? :)
just wanted to take a follow up on the feature as discussed with you.

[2017-10-14 14:29] bkrem commented on #35
Hey, haven’t had time during the week to work on the library but I’ll start on this tomorrow!
Until I get paid for open source I unfortunately have to prioritise my job 😛

[2017-10-14 15:18] bkrem opened #39 "Ensure support for React 16"
- [ ] Implementation
- [ ] Unit test
- [ ] Docs

[2017-10-17 09:44] KrzysztofKarol opened #40 "ReferenceError: window is not defined - Server-Side Rendering (SSR)"
How to use this great library properly with Server-Side Rendering (SSR)
[code]
`return window&&document&&document.all&&!window.atob`

[2017-10-17 10:01] bkrem commented on #40
Hi @KrzysztofKarol, thank you for reporting this! I was actually unaware of how/if this library worked with SSR.
The source doesn't make any reference to `document`/`window`, so seems to be a bundling/dependency issue, will look into this after work today.

As a workaround until this is implemented you could maybe render the tree on `componentDidMount` to ensure it renders in the client?

[2017-10-17 11:16] KrzysztofKarol commented on #40
Hi @bkrem Thank you for your almost instantaneous answer.
Yes, I checked that too.
I built it without UglifyJsPlugin and it's used for
[code]
For now I just used `{process.env.BROWSER && (...)}` for now.

[2017-10-17 13:11] bkrem commented on #40
Ahh interesting, thanks for digging into this already.

Seems like the least path of resistance would be to set `options.singleton` if it's part of the `style-loader` public API since [IE 8 and older isn't supported](https://reactjs.org/blog/2016/01/12/discontinuing-ie8-support.html) by the React team anymore anyways.
Otherwise it would be worth working around the `style-loader` plugin if that get

[2017-10-17 14:36] KrzysztofKarol commented on #40
I couldn't find simple and good solution. So i made it very dirty way for now - I used isomorphic-style-loader instead of style-loader.
https://github.com/KrzysztofKarol/react-d3-tree/commit/f876afec64f5fbc1932f950c481a2b8ae9d032bc

BTW. I also encountered a problem with ``react-transition-group``. react-d3-tree uses 1.1.3 as external and it's somehow overriding 2.2.1 used by material-ui@next.

[2017-10-17 14:49] bkrem commented on #40
Ok cool, good to hear you found a way. If `isomorphic-style-loader` seems to do the job I'll move the build pipeline to that.

Hmm wow ok that's a strange one regarding `react-transition-group`, might make sense to bundle the dependencies directly rather than using externals in that case.

Thanks for reporting these two already, super useful! 🙌

[2017-10-17 15:22] tudorbertiean opened #41 "Long render times for large datasets"
Is there any work around for the long rendering time for large datasets? I have approximately 500 nodes and the rendering freezes the page for about 1 minute until finally displayed.

Also occurs when using your data from 'json-example.json'.

[2017-10-18 09:44] bkrem commented on #41
Hey @tudorbertiean,

Thanks for reminding me of this and apologies for the bottleneck. I'm currently working on a few performance improvements for large graphs to avoid blocking the main render thread for long periods of time.
Will hopefully have a release this evening that includes some improvements for your use case.

Seen some significant speed ups with the JSON example you mentioned, would be

[2017-10-19 13:55] tudorbertiean commented on #41
Thanks for the response, I will attach the json file but modified the data for testing purposes.

Keep up the good work!

[https://github.com/bkrem/react-d3-tree/files/1398585/hierarchy.zip]

[2017-10-20 09:18] bkrem commented on #41
Awesome, thank you for this! It's super useful to have a large dataset that approximates a real world use case for someone.

I'll be pushing a release tomorrow or Sunday at the latest that should improve performance a lot for large graphs 👍

[2017-10-20 21:03] RohanDamani commented on #41
+1

I'm trying to render 10+ trees at once with different data sets and it crashes the browser

thanks for actively maintaining this project!!

[2017-10-20 21:07] bkrem commented on #41
@RohanDamani Damn sorry about that, this should get a lot more stable this weekend.

[2017-10-21 19:02] bkrem commented on #37
Hey @Emsu,

Finally released this in [v1.5.1](https://github.com/bkrem/react-d3-tree/releases/tag/v1.5.1), so I'll be closing the issue.

Thank you for your contribution and keen to see what can be done about #36! :)

[2017-10-21 19:02] #37 closed

[2017-10-21 19:08] bkrem commented on #41
@tudorbertiean @RohanDamani

Released this as v1.5.1 just now so closing the issue. Please check the [release notes](https://github.com/bkrem/react-d3-tree/releases/tag/v1.5.1), update and let me know in a new issue if something is wrong :)

The major bottleneck seems to lie with D3's `select().transition()` which blows up the browser's call stack whenever all the nodes in a large graph are mounte

[2017-10-21 19:08] #41 closed

[2017-10-23 19:45] RohanDamani commented on #41
@bkrem much better thanks!

[2017-10-23 19:45] RohanDamani commented on #41
@bkrem much better thanks!

[2017-10-23 19:50] RohanDamani opened #42 "Initial Depth 1 - Links not aligning with nodes"
When initial depth one is set, the links are not aligned with the nodes.  The nodes are evenly spaced and the links are evenly spaced, however they do not have the same spacing.  Initial depth 0 and 2 working as expected.  Any ideas?  See pictures below:

`<Tree data={[data]} translate={{x: 300, y:300}} initialDepth={1} styles={{links: {stroke: 'pink', strokeWidth: 3}}} />`

![image](https://user-

[2017-10-23 20:23] bkrem commented on #42
Hey @RohanDamani,

Thanks for adding your `<Tree />` config, not sure about this exact scenario but I think I know what this is.

Noticed after releasing the update optimisations in 1.5.1 that the nodes aren't aware of some top level prop changes that actually reflow the layout.

Sorry about this, releasing a fix tomorrow evening which should hopefully solve it, along with some way nicer coordinat

[2017-10-24 21:41] bkrem commented on #42
@RohanDamani

Fixed in [v1.5.2](https://github.com/bkrem/react-d3-tree/releases/tag/v1.5.2).

Not happy yet with the coordinated transitions so 1.6.0 will be a bit longer, until then I'd still recommend to set `transitionDuration: 0` for large graphs for max responsiveness 🚀

[2017-10-24 21:41] #42 closed

[2017-10-25 20:18] RohanDamani commented on #42
@bkrem Great fixed thanks!

[2017-10-25 22:37] alexlamasBV opened #44 "Add svg text transform functionality to Node names"
Include the SVG transform attribute as a prop to a Node's textLayout. I gave a simple implementation a shot in [this PR](https://github.com/bkrem/react-d3-tree/pull/43).

One use case: rotate Node names, such that longer names don't overlap with Nodes at the next level of the Tree.

<img width="345" alt="react-d3-tree" src="https://user-images.githubusercontent.com/29458513/32026730-2ba219f2-b9ab-

[2017-10-25 23:44] RohanDamani opened #45 "Ability to toggle depths from remote input"
I have filters associated with different levels of the tree, as the user toggles which level they are on, I'd like the tree to respond to be open to that level.

I tried passing different values to initialDepth as props, however there is no rerender.

Is this possible?

[2017-10-26 12:56] alexlamasBV commented on #45
I've faced a similar issue which required me to pass different values to the initialDepth prop and force a re-mount in order for the Tree to display at the desired depth. What worked for me is, pass a React key prop to the Tree component and toggle that key between true/false whenever a re-render is desired. See the following (very rough) pseudocode:

[code]

Changing the value of the key prop pas

[2017-10-26 13:20] bkrem commented on #45
Yeah the `initialDepth` functionality is pretty rudimentary as it stands currently. It also doesn't do what you expect with async loaded data via `treeUtil`, i.e. it won't apply `initialDepth` once the new data set is passed in.

Nice workaround with the `key` prop @alexlamasBV, hadn't considered that.

Going to prioritise this if it's getting in the way of getting expected behaviour.
Would happil

[2017-10-26 16:45] bkrem commented on #44
@alexlamasBV

Released in v1.6.0, release notes: https://github.com/bkrem/react-d3-tree/releases/tag/v1.6.0

Thanks again for implementing this! ✨

[2017-10-26 16:45] #44 closed

[2017-10-27 00:01] RohanDamani commented on #45
@alexlamasBV great workaround - I'm passing key={dynamicDepth} to trigger the change

@bkrem thanks for adding.  I may eventually need the ability to close all nodes at a certain depth as a new one at that depth is opened, so I'm not showing too many nodes.  Right now setting separation={{siblings: .5}} to reduce the space between nodes, the nodes overlap if more than one node on that depth is ope

[2017-10-27 09:39] bkrem commented on #45
Hmm I think that's expected behaviour for setting `siblings: 0.5`, since the number represents a factor of node width. As in `siblings: 1, nonSiblings: 2` would mean "separate sibling nodes by 1x node width and nonSiblings by 2x node width" (https://github.com/d3/d3-3.x-api-reference/blob/master/Tree-Layout.md#tree).

What you probably want to do is change nodeSize on the y-axis, that should move

[2017-10-27 23:49] RohanDamani opened #46 "Collapse open nodes when opening new one"
The ability to collapse all open nodes on the same depth as a new one is opened. Would be a great feature as the tree gets large with lots of traversing nodes.

[2017-10-27 23:57] RohanDamani opened #47 "New data set ignores initialDepth"
If the data set changes (ie user filters), the tree rerenders with all nodes open.

I am using a dynamic initial depth prop to maintain which level is open, and I would like the tree to reread the initial depth prop as the data set changes to stay at the current highest level open.

As the user clicks a node, I will pass the depth to state.  In conjunction with https://github.com/bkrem/react-d3-tr

[2017-10-28 00:03] RohanDamani commented on #45
@bkrem good call nodeSize is what I was looking for

I added issue https://github.com/bkrem/react-d3-tree/issues/46, same as mentioned above, for collapsing nodes as a new one opens.

I also added https://github.com/bkrem/react-d3-tree/issues/47 - this is related to reading initialDepth as the data set changes.  The idea for this one is to be able to smoothly use the tree with a set of filters for

[2017-10-29 00:19] RohanDamani opened #48 "onHover feature request"
I'd like to display a popover or snackbar onHover of each node.  Requesting an onHover prop which passes the node data to a function on user hover.

[2017-10-30 12:06] bkrem commented on #48
Hey @RohanDamani,

I  think this would be a good first-time contribution for you if you're up for it :)

Pretty much the same logic as is already there for the `onClick` prop.

[2017-11-02 11:17] jmorrice commented on #39
+1! Quite a few issues mainly related to paths since updating

[2017-11-02 11:18] bkrem commented on #39
Ok, can you explain what's going on @jmorrice?

[2017-11-02 11:49] bkrem commented on #39
Ok interesting. That would be great if you have a few minutes 👏

Will push out a new version ASAP if you have a PR at some point, otherwise I'll investigate myself this evening.

[2017-11-02 18:54] myangsc opened #49 "translate props can be %?"
the translate now can only support px

[2017-11-02 19:42] myangsc commented on #49
Simply, how I can make it center in the container as default

[2017-11-03 16:41] bkrem commented on #49
Hey @myangsc,

Yeah this is a bit tricky since using relative measures with `translate()` on SVG elements isn't as straightforward as it is with CSS.

A way you can achieve what you're looking for is setting a ref on your treeContainer element (i.e. `ref={tc => this.treeContainer = tc}` and then measuring its dimensions once the component tree has mounted:

[code]

where you'd pass `this.state.tra

[2017-11-03 20:33] myangsc commented on #49
Do something similar to ur suggestion, @bkrem thanks

[2017-11-03 20:33] #49 closed

[2017-11-08 02:38] RohanDamani commented on #48
https://github.com/bkrem/react-d3-tree/pull/50

see comments, not sure how to test

[2017-11-19 12:46] bkrem commented on #39
@jmorrice can't see any obvious issues after upgrading the demo to react/react-dom 16.x, could you please post the setup you're using the library in?

[2017-11-19 16:01] krunal039 opened #51 "onClick change style"
sorry if this is alreay covered but could not find way to change style for selected node and reset for unselected node.

[2017-11-20 10:52] bkrem commented on #51
Hi @krunal039,

Thanks for your suggestion! You're right, there's currently no direct way to style the currently active/focused node.

I'll have a think of how this can be best implemented. In the meantime, feel free to share your thoughts on how you'd implement this :)

[2017-11-20 15:43] krunal039 commented on #51
@bkrem thanks for quick reply, I do not have any specific but it would be good if selected node/label has different color, there could be props at component level for selectedCss? I would prefer that componet just add data attribute for selected component and then user can apply any css they want. Also on that note, is there way to auto size node tree on load?

[2017-11-20 15:53] bkrem commented on #51
Yeah agreed, having simple data attributes to hook into with CSS (+ a way to style the active node via props) would be good 👍

Unsure of what exactly you mean with "auto-size", feel free to email me (ben.kremer@hotmail.co.uk) or open another issue with a description of your problem and I'll do my best to help!

[2017-11-20 22:09] bkrem commented on #48
Released in [v1.7.0](https://github.com/bkrem/react-d3-tree/releases/tag/v1.7.0)

[2017-11-20 22:09] #48 closed

[2017-11-22 10:07] jmorrice commented on #39
My mistake, turns out the problem was related to updating `react-transition-group` from `1.1.3` to `2.2.1`. So we can close this issue, but shall I open another ticket for updating that package?

[2017-11-22 11:37] bkrem commented on #39
Ok, suspected that might have been the reason.

Sure feel free to open an issue for an upgrade to transition-group v2.

It should actually be declared as a peer dependency rather than a direct dependency anyways, as it can cause hard to track bugs this way.
That’s a breaking change though so will have to wait until `react-d3-tree` v2. Refactoring and upgrading should hopefully be possible now thou

[2017-11-29 09:04] jzoe opened #54 "Is there any method to render the node attributes as a ReactNode element?"
- [ ] Implementation
- [ ] Unit test
- [ ] Docs

I want to render the node attributes as a card like below:

![image](https://user-images.githubusercontent.com/11612990/33366738-26936d7a-d527-11e7-82aa-40bc475d98e1.png)

![image](https://user-images.githubusercontent.com/11612990/33366752-368154c2-d527-11e7-8332-8f6518b899b1.png)

Is there any one can help?

[2017-11-29 10:18] bkrem commented on #54
Hey @jzoe,

This isn't possible at the moment unfortunately. We took a shot at it in when #36 came up, but there were issues with `ReactElement`s being parsed to JSON since they have circular references.

I know this would be a really useful & extensible feature, so I'll give it another shot with a different approach this week when I find some time to work on the library :)

[2017-11-29 10:35] jzoe commented on #54
Use the  `ReactDOMServer.renderToStaticMarkup(...)` element to replace the `<text>{this.props.attributes ...}</text>` in `src/Node/index.js` ? @bkrem

[2017-11-29 10:37] bkrem commented on #54
Good idea, feel free to give it a shot and see how it goes!

[2017-12-10 12:23] bintoll opened #59 "deepEqual compare nextProps and old props do not work properly"
Tried:
Pass data to Tree component as state.
Render the tree.
Add children to tree data and write in state.
Nothing happens with Tree.

I found why it does not work:
it is used deepEqual(this.props.data, nextProps.data) (i also tried a strict mode)
if i change it to this.props.data !== nextProps.data - the tree component updates correctly.

- [ ] Implementation
- [ ] Unit test
- [ ] Docs

[2017-12-10 12:30] bintoll commented on #54
I have done it using foreignObject, you can use my pr https://github.com/bkrem/react-d3-tree/pull/58

[2018-01-09 06:56] henryhuang commented on #35
@bkrem , I need this feature, because currently the styles attr is static, i think the styles should be passed with object or function, if object then use current logic, but if function, it can pass linkData to the function to return styles object. Like path render function.

[2018-01-10 10:25] #39 closed

[2018-01-10 10:30] bkrem commented on #35
Hey @henryhuang, yeah I feel your pain here. This project was originally adapted from a tight use case so there are still inflexible aspects that need ironing out.

At the moment I simply don't have the time to work on this properly due to requirements of my professional work + having 2 major features already as WIP for this project.
If you have the time to write an implementation that you think m

[2018-01-17 17:31] bkrem commented on #54
@jzoe Implemented in v1.8.0 as `nodeLabelComponent`.

There are some browser support caveats so please check the "Using ForeignObjects" section of the docs.

[2018-01-17 17:31] #54 closed

[2018-01-17 17:34] bkrem commented on #36
@Emsu In case this is still relevant for you, could you please check out v1.8.0's `nodeLabelComponent` feature to see if it meets your use case?

[2018-01-17 17:37] bkrem commented on #59
Hey, sorry it's taken me so long to respond, I've not been able to commit to any substantial open source work for the past few weeks.

Could you please create a quick reproduction case on https://codesandbox.io/ or similar?

[2018-01-17 20:09] Emsu commented on #36
hey @bkrem thanks! I'll check it out

[2018-01-30 21:57] issamabdelkrim opened #74 "can't find variable document"
![capture d ecran 2018-01-30 a 22 56 29](https://user-images.githubusercontent.com/11806926/35593685-dd3ec942-0610-11e8-8d1b-6c42e13aa07a.png)
when i do import Tree from 'react-d3-tree';
can someone help me plz
thanks

[2018-01-31 10:17] bkrem commented on #74
Hey @issamabdelkrim,

Looks like you're trying to use the library in a React Native context, which isn't possible since there's [no DOM within React Native](https://github.com/facebook/react-native/issues/838).
So the error is actually correct since this is a library for web-based React.

[2018-01-31 10:17] #74 closed

[2018-01-31 10:39] issamabdelkrim commented on #74
thanks @bkrem for your answer

[2018-02-09 09:21] tzookb opened #77 "display my own nodes style without circles"
[code]

I want to have my own boxes design, but that the lines will be connected to the boxes and not circles. Is that achievable now?

Thanks

<img width="505" alt="screen shot 2018-02-09 at 11 18 13" src="https://user-images.githubusercontent.com/3749973/36020407-42993af8-0d8b-11e8-81b4-44fe49b159bb.png">

[2018-02-10 02:33] andrewhl commented on #46
I would love this feature as well.

[2018-02-13 17:26] bkrem commented on #77
Hi @tzookb,

Apologies for the wait. Removing the node element isn't actually possible right now, but I'll work on this later tonight or tomorrow since it should be possible to just pass `none` to `svgShape`.

That should then let you do what you suggested, although you'll most likely have to fiddle with the positioning/sizing of your boxes to make them align nicely with the graph.

[2018-02-14 14:54] bkrem commented on #77
Just released [v1.9.1](https://github.com/bkrem/react-d3-tree/releases/tag/v1.9.1) with an option to set `nodeSvgShape`'s `shape` key to `'none'`, meaning no svg shapes will be rendered for the nodes.

This should hopefully allow you to achieve what you were asking about :)

[2018-02-15 15:50] tzookb commented on #77
Awesome work @bkrem

but I decided to build my own tree

as I noticed I need to connect the lines to centers of the node etc 👍

[2018-02-15 18:20] dclemenzi commented on #59
Ran into the same issue and came to the same conclusion that the deepEqual is the cause. My solution perhaps less elegant was to clone the data which causes the tree to update correctly.

var data = clone(this.state.data)
...
Do Work
...
this.setState({data: data})

But this is now causing issues with thrashing the layout on large amount of updates. Is there a correct way to use this Tree as a dyn

[2018-02-20 23:15] dyennam commented on #77
Hello @tzookb
Could you give me an example of how you were able to build you tree. I am trying to do the same where i want to override each node(CIRCLE) with like a bootstrap card element. But the cards i render are not getting attached at the node level, they are off somewhere on the page.

[code]

[2018-02-21 13:59] bkrem commented on #59
Hi @dclemenzi,

Sorry to hear you experienced a similar issue.

Could you give me a quick example of what the diff between the `this.state.data` and `nextState.data` would be in your case, or reproduce a simplified version here https://codesandbox.io/s/ykn9o96nm9 ?

[2018-02-21 13:59] #36 closed

[2018-02-21 16:30] bkrem commented on #77
Hey @dyennam,

Here's a relatively simple way you can achieve what I think you're looking for with foreignObjects by leveraging the `nodeLabelComponent`, `nodeSvgShape` and `nodeSize` props:

https://codesandbox.io/s/zrw16nnxox

Note that I also moved the text you hardcoded in the card into each child's `attributes` key. This let's arrange the text however you want since the component you use for

[2018-02-22 18:06] dyennam commented on #77
@bkrem Thanks for the example, helped me out a bunch.
But if I want to take actions on the cards without it having to collapse / expand, how would i go about it? Like i want to be able to add child/sibling nodes, or capture on click events in certain regions to show popups or such things.
I have attached a example: https://codesandbox.io/s/ypz7rp61z

[2018-02-25 02:02] dclemenzi commented on #59
Ok I have recreated the issue I am having in the sandbox. There is a react-interval running that adds a new child every second and its working because I am cloning this.state.data on each insert. If you comment out line 39 and add back in line 40 which removes the clone it stops working.

I am probably doing something wrong and would love to know the correct way to dynamically insert nodes without

[2018-02-27 14:36] superdyzio commented on #8
Still occurs on v1.9.2. Have you approached this again since your last comment?

[2018-02-28 15:58] adilapapaya commented on #8
@bkrem I wonder if you could get around this by adding a dbl click listener and setting that to do nothing.

[2018-03-01 14:56] bkrem commented on #8
@adilapapaya Thanks man, seeing people do cool stuff with this library is what keeps me motivated :)

As far as I can tell this is basically a mutex-type problem where the onClick handler needs to block until the associated transition time has expired.

I took a shot at this a while ago and didn't quite get there, will give it another serious shot whenever I can commit time during the next week.

[2018-03-01 15:06] bkrem commented on #59
@dclemenzi thank you for taking the time to create a repro case!

Yeah this is definitely unintended behaviour. You're not doing anything wrong, I simply failed to test this use case sufficiently.

Scheduling this as the highest prio change since it's literally just the `deepEqual` check having unintended consequences.
Will try to release a fixed version by this evening or tomorrow.

[2018-03-02 14:29] dclemenzi commented on #59
Looking forward to trying you fix!

[2018-03-05 18:41] bkrem commented on #59
Fix shipped in [v1.10.1](https://github.com/bkrem/react-d3-tree/releases/tag/v1.10.1)  🚀

@dclemenzi you should now simply be able to do:
[code]

but I would still recommend using `clone` for your use case.

I'm going to do a quick post-mortem to explain why for future reference, since I'm sure you two won't be the last who come across this:

The issue here was partially at the library level (i.e.

[2018-03-05 18:41] #59 closed

[2018-03-15 10:09] j-barata opened #86 "Display image instead of primitive figures"
Hi,

Is there any method to render the node itself as a pre-defined image ?

Using `fill="url(...)"` could be a solution but I can't any way to define a SVG image or pattern

Thanks

[2018-03-15 14:40] DianaPilat opened #87 "hide children of previously clicked node when new node is clicked"
Thank for the beautiful plugin! I have a question/feature request. Is it currently possible to hide expanded children of previously clicked node when another node is clicked? I have a horizontal phase/subphase tree with large dataset and want to leave open only the children of the clicked node and have others that were opened before closed. Did not find this feature in documentation. Please let me

[2018-03-27 13:50] bkrem commented on #87
Hi @DianaPilat,

Sorry for the delay! This isn't currently a feature but has been requested (#46).

I'll make an effort for this to be in the next feature release since it's been requested by multiple people now including you.

Going to close this issue so we can consolidate the discussion for it in #46.

[2018-03-27 13:50] #87 closed

[2018-03-27 13:56] bkrem commented on #86
Hi @j-barata,

Apologies for the delayed response! This isn't currently possible but I'll take this as a feature request :)

For now I'm going to prioritise resolving #46 and #8 with the spare time I currently have for the library, but feel free to add a PR with this feature if it's something you'd like to see!

[2018-03-27 14:01] #23 closed

[2018-03-27 14:02] #51 closed

[2018-03-27 14:04] bkrem commented on #35
Resolved in #82, closing.

[2018-03-27 14:04] #35 closed

[2018-03-27 14:04] #32 closed

[2018-03-27 16:48] j-barata commented on #86
thanks for your answer

[2018-03-27 16:54] j-barata opened #88 "Get events on mouse's callbacks"
I can't find any way to retrieve the event occured when "onClick" or "onMouseOver" or "onMouseOut".

I think this could be done in the rendering method of the Node object ?

Something like that : `<g ... onClick={(event) => this.handleClick()} ...`

What is your opinion ?

[2018-03-27 19:46] anilramavtar commented on #46
**here is the work around solution to achieve this**

 <Tree data={phaseData} ref="myRef"
                initialDepth={1}
                orientation="vertical"
                pathFunc="elbow"
                translate={{ x: 575, y: 20 }}
                styles={{ links: { stroke: '#89828D', strokeWidth: 1 } }}
                nodeSize={{ x: 160, y: 50 }}
                zoomable={false}

[2018-03-27 19:48] anilramavtar commented on #87
here is the work around solution to achieve this

<Tree data={phaseData} ref="myRef"
initialDepth={1}
orientation="vertical"
pathFunc="elbow"
translate={{ x: 575, y: 20 }}
styles={{ links: { stroke: '#89828D', strokeWidth: 1 } }}
nodeSize={{ x: 160, y: 50 }}
zoomable={false}
onClick={(nodeObj) => this.handleClick(nodeObj, true)}
/>

handleClick(nodeObj, cont) {
if(!cont || nodeObj._collapsed)
retu

[2018-03-28 10:32] bkrem commented on #88
Good point, I'm actually surprised this hasn't come up as a request until now and that I didn't consider forwarding the event up the call chain (as would be done in most cases).

Thank you for bringing this to my attention! Adding it as a prio ticket for the next release.

[2018-03-28 16:14] bkrem commented on #88
Shipped in [v1.10.2](https://github.com/bkrem/react-d3-tree/releases/tag/v1.10.2) 🚀

[2018-03-28 16:14] #88 closed

[2018-03-28 16:46] j-barata commented on #88
thank you very much for being so fast

[2018-03-28 22:34] lubuger opened #89 "Too fast clicking brakes collapse"
When clicking multiple times fast on node when collapsible is set to true, it breaks it totally, maybe setTimeout to halt animation and calculation and after do that?

[2018-03-28 22:36] #89 closed

[2018-03-28 22:36] lubuger commented on #89
Duplicated

[2018-04-04 07:01] sspanak opened #91 "react-transition-group causes unnecessary slowdown when animations are disabled"
Hi,

I've been experimenting with large trees, consisting of 2000 or more, and I've noticed
performance is so bad that the entire page becomes unusable.

I have investigated the issue and found the culprit - it is react-transition-group. From what I understand it is only required when animations are enabled, and since I don't need them, I tried removing it. After that I have conducted some tests a

[2018-04-04 12:34] sspanak commented on #91
OK, so I have opened pull request #92, to address the issue. @bkrem, I would appreciate if you review and consider the changes, when you have some spare time.

[2018-04-04 14:08] bkrem commented on #91
Hey @sspanak,

Thanks for for investigating this properly! `transitionDuration = 0` helped a lot with render times on smaller graphs but I hadn't yet properly benchmarked how  behaves on large graphs.

Will review your PR now and push out a release with your improvement if we're all good.

[2018-04-08 07:02] nimitwalia89 commented on #89
hello. may i know this issue is duplicate of which issue? because tree does break when we click on node too fast.. i just installed this yesterday

[2018-04-11 04:47] bkrem commented on #91
Released as [v1.10.3](https://github.com/bkrem/react-d3-tree/releases/tag/v1.10.3) 🚀

Thank you again for your awesome contributions @sspanak!

[2018-04-11 04:47] #91 closed

[2018-04-11 04:49] bkrem commented on #89
@nimitwalia89 👉 #8

[2018-04-11 04:53] nimitwalia89 commented on #89
@bkrem thanks. So this will be resolved in v1.11? Also i noticed 1 thing. if we add multiple trees in different div wrappers zoom and drag only works on the 1st one.

[2018-04-11 04:57] bkrem commented on #89
@nimitwalia89 yes, readdressing that ticket is the next priority for me.

Hmm interesting, haven't come across that yet but I have an intuitive idea of what the issue might be here due to the way D3 does DOM node selection.

Could you please open an issue for this, briefly describing what the reproduction case would be? :)

[2018-04-11 05:01] nimitwalia89 opened #93 "not able to zoom if multiple trees are present."
If we have multiple tree each wrapped in its own div then only 1st tree is zoomable.
`<div>`
`<Tree ...props />`
`</div>`
`<div>`
`<Tree ...props />`
`</div>`
`<div>`
`<Tree ...props />`
`</div>`
Only first tree will be zoomable here.

[2018-04-11 17:33] nimitwalia89 commented on #8
@bkrem i kind of found a solution for it. Please give it a try.
Inside Tree/index.js add a variable outside class
[code]

add `clickToggle={this.testBreakFix}` prop to Link.

then inside Link/index.js
[code]
Hope this helps

[2018-04-17 12:18] samankhademi opened #95 "window is not defined"
I think that is because there is no "window" in server side rendering
i use react Starter Kit
ReferenceError: window is not defined
    at D:\project\iTask\node_modules\react-d3-tree\lib\react-d3-tree.min.js:1:5209
    at D:\project\iTask\node_modules\react-d3-tree\lib\react-d3-tree.min.js:1:5171
    at e.exports (D:\project\iTask\node_modules\react-d3-tree\lib\react-d3-tree.min.js:1:5767)
    at

[2018-04-18 05:40] reyicare opened #96 "Image in the Node"
Hi,
I'm trying to display an image in background of the div for the Node. It's possible to fill a color but not an image. The image is loading correctly by the browser.

This is my code for the Tree :
`                <Tree data={[myTree]} translate={this.state.translate} orientation="vertical" collapsible={false}
                      nodeSvgShape={{shape: "none"}}
                      allowFore

[2018-04-24 20:04] murphyke commented on #32
@bkrem Just for the record, can you briefly describe the reason for closing this issue? Is `nodeLabelComponent` the answer? I just encountered the need to deal with long attribute values in a reasonable way ....

[2018-04-26 14:02] greenkeeper[bot] opened #98 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="/bkrem/react-d3-tree/compare/master...bkrem:greenkeeper%2Fupdate-to-node-10">open a PR with t

[2018-04-27 20:25] thomashibbard commented on #40
@KrzysztofKarol It sounds like `isomorphic-style-loader` is the "dirty" solution, is that so? Is there presently a better way?

[2018-04-30 23:38] juanda99 opened #99 "initialDepth broken in version 1.10.4"
New to react-d3-tree, so just test it, see repo:
https://codesandbox.io/s/r15w64jqym

My repo works ok with version 1.4, but not with 1.9 or 1.10 version
Do I miss something? Any breaking change?

[2018-05-04 07:20] elowes opened #100 "When a page render over one tree, only the first tree can zoom、move、etc..."
## Are you reporting a bug, or opening a feature request?
bug

## Can you consistently reproduce the issue/create a reproduction case (e.g. on https://codesandbox.io)?
[reprocuce link](https://codesandbox.io/s/88qlo431p9)

## What version of react-d3-tree are you using?
latest

[2018-05-04 14:49] bkrem commented on #100
Fixed in [v1.10.5](https://github.com/bkrem/react-d3-tree/releases/tag/v1.10.5) 🎉

[2018-05-04 14:49] bkrem commented on #93
Fixed in [v1.10.5](https://github.com/bkrem/react-d3-tree/releases/tag/v1.10.5) 🎉

[2018-05-04 14:49] #93 closed

[2018-05-06 01:56] peter1262 opened #102 "individual shape not working"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
[Replace with your answer]

## What is the actual behavior/output?
[Replace with your answer if relevant]

## What is the behavior/output you expect?
[Replace with your answer if relevant]

## Can you consistently repr

[2018-05-06 09:57] bkrem commented on #102
Hi @peter1262,

Please report what the actual issue & reproduction case is here, individual shapes seem to be working fine in general.

[2018-05-09 16:44] #98 closed

[2018-05-10 14:43] #99 closed

[2018-05-10 14:53] bkrem commented on #99
Fixed in [v1.10.6](https://github.com/bkrem/react-d3-tree/releases/tag/v1.10.6) 🚀

[2018-05-25 12:50] feralislatr commented on #46
@anilramavtar
I tried using that and I'm getting too much recursion from clone.js

[code]

Any ideas off the top of your head?

[2018-05-29 16:08] codemonkeycxy commented on #40
@bkrem @KrzysztofKarol Is this issue fixed? Somehow I'm still seeing the same error during server side rendering.

amazing work by the way, looking forward to using it!

[2018-05-29 16:15] KrzysztofKarol commented on #40
Hi @codemonkeycxy!

I wasn't using this lib for months so you have to ask @bkrem directly.

[2018-05-30 10:54] bkrem commented on #102
Closing, has no reproduction description.

[2018-05-30 10:54] #102 closed

[2018-05-30 11:05] bkrem commented on #40
Hi @codemonkeycxy,

SSR still isn't technically supported. I spent an entire day at the time tinkering with the isomorphic loader that Krzysztof suggested (and one or two other ones).

I couldn't get a stable version out of it and there were more pressing issues to resolve with the library so I closed this as out of scope (sorry for my lack of explanation when I closed it), since this error is pre

[2018-05-30 11:16] KrzysztofKarol commented on #40
@codemonkeycxy you can also use npm's package **react-no-ssr** as a workaround

https://github.com/kadirahq/react-no-ssr/blob/master/src/index.js

[2018-06-03 10:37] graniet commented on #86
Thanks 👍, i too wait this function :)

[2018-06-05 15:58] bkrem commented on #95
Hi @samankhademi,

Yes, the issue here is that the library currently doesn't directly support server-side rendering. I've posted a workaround in #40 that should help you bypass the error until support for SSR has been added.

I'll close this as a duplicate of #40, but feel free to contribute inside that issue or ask any further questions you may have :)

[2018-06-05 15:58] #95 closed

[2018-06-19 15:58] Icebreaker9697 opened #107 "Custom NodeToggle"
Hi, I am trying to create a custom NodeLabelComponent with some controls to expand the node. What I have found is that clicking anywhere on the label/node toggles it. And if I have the collapsible prop set to false, there doesn't seem to be any function that I can call to override it and toggle the node.

Basically, I want to create a conditional to only allow expanding nodes when they have less t

[2018-06-19 19:09] Icebreaker9697 commented on #107
I figured out how to do it, and I actually don't need to use a NodeLabelComponent. Instead, I just set the tree to not be collapsible (therefore, by default, no nodes will open on click). Then I wrote a function to override the non-collapsible rule. Lastly, I call that function within a conditional block using the onClick prop for the tree.

[code]

[2018-06-20 09:05] peter1262 opened #108 "Is there any way to style circle to text inside square ?"
Is there any way to style circle to text inside square ??

like

<img width="976" alt="2018-06-20 6 04 33" src="https://user-images.githubusercontent.com/15044488/41648635-6e82dc88-74b4-11e8-85a9-8d58ffdd34f4.png">

[2018-06-20 13:53] peter1262 commented on #108
Thank you!1

[2018-06-21 09:12] ktjd123 opened #109 "Question: Is there any way to make lines to go to center"
![2018-06-21 6 10 41](https://user-images.githubusercontent.com/15044488/41709575-7b579226-757e-11e8-9c9f-80739a5fbd45.png)
my current react-d3-tree looks like this

is there any way to make lines to center? like

![kakaotalk_photo_2018-06-21-18-10-55](https://user-images.githubusercontent.com/15044488/41709601-8daf8708-757e-11e8-97d8-2609c5cba5b8.png)

always thank you and appreciate your works

[2018-06-24 08:35] ktjd123 commented on #109
@bkrem can you check this for me ?? Thank you

[2018-06-28 10:06] ktjd123 commented on #109
@bkrem can you check this for me please??

[2018-06-28 12:41] bkrem commented on #109
Hey @ktjd123,

It's not entirely clear to me what's going on here, it looks like you're trying to use a horizontal graph that has a root node + 2 siblings (but no children) in a vertical way from the screenshots, even though you'd want a vertical graph with 2 parent-child relationships.

I'm happy to help but you have to meet me half way with a reproduction case (https://codesandbox.io/) or detail

[2018-06-28 17:01] ktjd123 commented on #109
Thank you for reply and feedback to my comment!! I felt I was wrong about how to send my opinion thank you for making me know the right way

![-1](https://user-images.githubusercontent.com/15044488/42049060-cc164ed4-7b3f-11e8-8fb4-8f6c3d0bd14c.png)
The final shape I wanted to make is this shape. Everything is at center ( text, line, rect)

So i tried to make it with nodeSvgShape with shape: "rect"

[2018-07-01 11:29] vivek1623 opened #116 "is there any way to change the thickness of links by it weight. i just want to change stroke-width for each path ."
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
[Replace with your answer]

## What is the actual behavior/output?
[Replace with your answer if relevant]

## What is the behavior/output you expect?
[Replace with your answer if relevant]

## Can you consistently repr

[2018-07-03 06:57] vivek1623 commented on #116
you can allow user to pass this props(weight) in data similar to nodeSvgShape.  which will render with all path and change the thickness by its weight.  every node object may contain weight value which will directly added to stroke_width of path and it will change the thickness of edge by its weight. it will be very helpful for us if you add this feature

[2018-07-03 15:18] bkrem commented on #109
Thanks for posting the reproduction, seeing your configuration made it a lot easier to help with this.

I think this is the layout you're looking for @ktjd123: https://codesandbox.io/s/zxnx9m92wp

Only two things I changed:
* In `shapeProps` I set the negative `x` and `y` offsets to (approximately) half the shape's `width` and `height`
* Specified the `textLayout` prop with `{textAnchor: 'middle'}

[2018-07-04 11:49] ktjd123 commented on #109
Thank you!! It really helped me!!!

[2018-07-06 12:21] #109 closed

[2018-07-10 14:33] thomashibbard commented on #40
@KrzysztofKarol  How is this meant to be used? Should the line

`const DefaultOnSSR = () => (<span></span>);`

contain our component `<ComponentThatUsesCodeThatReferencesWindow />` or...?

[2018-07-10 21:20] KrzysztofKarol commented on #40
@thomashibbard I think yes but this repo has latest commit dated on 9 Apr 2016 so I don't know how does it work with latest React versions.
You can report an issue https://github.com/kadirahq/react-no-ssr/issues but I think that no one is maintaining this lib anymore, sadly.

[2018-07-11 00:59] llenodo commented on #22
Hi there, whats the status on this issue? Having some perf issues with a large graph.

[2018-07-11 14:17] bkrem commented on #22
Hi @llenodo,

The coordinated collapsing of nodes wasn't production-ready when I last had the chance to work on it so it's basically on hold right now.

The common solution for large graphs suggested in the docs is to set `transitionDuration={0}`, which will prevent animated transitions and keep the graph responsive to a very high node/edge count (e.g. see the "React Repo" & "Styled components rep

[2018-07-11 17:59] llenodo commented on #22
Thanks for getting back to me @bkrem. Have you investigated whether or not the  perf issues are inherent to d3 itself, or something to do with this library in particular?

[2018-07-18 16:13] bkrem commented on #22
The issue seems to be with the way `react-transition-group` enqueues animations, or rather how `react-transition-group` and d3 (fail to) interact.

I still have some WIP (https://github.com/bkrem/react-d3-tree/commit/c0870127d2fde63a97a87a6dd6bf33ed7e73d316) from a while ago when I had more time to work on the lib.

It prevents the browser's main thread from locking up by debouncing the animation

[2018-07-18 18:36] murphyke opened #120 "foreignobject width not equal to nodeSize.x"
## Are you reporting a bug, or opening a feature request?

Asking a question about possible bug in docs or other.

## What is the actual behavior/output?

A `nodeWidth.x` of 200 yields a `<foreignobject>` width of 176.  A value of 140 yields a width of 116. The difference is always 24. The `height` is also 24 less than `y`. I'm not attempting to control the width of `<foreignobject>`, i.e. I'm usi

[2018-07-20 19:31] jeffmath opened #122 "Add option for making a node's name a hyperlink"
## Are you reporting a bug, or opening a feature request?
feature request

## What version of react-d3-tree are you using?
1.10.6

I could use a nodeLabelComponent to implement this, except that my project has to support IE 11.

[2018-07-23 16:43] bkrem commented on #120
Hi @murphyke,

Thanks for pointing this out, I totally overlooked that this behaviour hadn't been properly documented.

Your observation is correct, by default the `width/height` properties on `foreignObject` are evaluated as `nodeSize.x - BASE_MARGIN` & `nodeSize.y - BASE_MARGIN`, where `BASE_MARGIN` is 24px.

I corrected the docs to reflect the default behaviour. If people find this more of a nu

[2018-07-23 16:43] #120 closed

[2018-07-23 16:57] bkrem commented on #122
Hi @jeffmath,

Yes, I think this makes a lot of sense since anchor tags are properly supported in the SVG spec so the whole `foreignObject` dilemma can be avoided with this.

My initial approach would be to allow the definition of an `href` field on each node in the dataset:
[code]

in which case react-d3-tree renders the node name wrapped in the anchor tag with said href attribute. Nodes in the d

[2018-07-23 18:36] jeffmath commented on #122
That all sounds great to me, thanks!

[2018-07-26 19:16] murphyke opened #123 "onMouseOver documentation"
## Are you reporting a bug, or opening a feature request?

Suggesting an amendment to the documentation

## What is the actual behavior/output?

The `onMouseOver` docs say it is "to be called when mouse enters the space belonging to a node".

## What is the behavior/output you expect?

The documentation should mention that, when using foreign object components for nodes, `onMouseOver` is called wh

[2018-07-26 19:37] murphyke opened #124 "Mouseout and mouseover events generated while dragging tree"
Great component, btw.

## Are you reporting a bug, or opening a feature request?

Reporting a bug, or at least behavior that I did not expect.

## What is the actual behavior/output?

If you depress the mouse on a tree node and then drag the tree to translate it, sometimes `mouseout` and `mouseover` events are generated when dragging quickly. Sometimes there is even a final `mouseover` event that

[2018-07-30 19:40] jeffmath opened #125 "Add support for later versions of D3"
## Are you reporting a bug, or opening a feature request?
Feature request

The project I am a part of uses a later version (4.10.0) of D3 than what is required by react-d3-tree (which is 3.5.17).  When I visit the page in our app that has the react-d3-tree component I've added, it breaks the other pages in the app, because react-d3-tree overwrites the global d3 variable with the older version.  I

[2018-08-01 22:07] Dienert commented on #46
I corrected the code above and it's working now.

import clone from 'clone';

    handleClick(nodeObj) {
        if (!nodeObj || nodeObj._collapsed)
            return;
        const myRef = this.refs.myRef;
        const parentObj = nodeObj.parent;
        if (parentObj && myRef) {
            const nodesToBeCollapsed = parentObj.children.filter(c => c.id !== nodeObj.id);
            nodesToBeCol

[2018-08-02 05:04] jeffmath commented on #125
I went ahead and changed the portions of (my fork of) react-d3-tree which my project employs to use D3 V4.10.0.   You can see the changes in this [commit](https://github.com/jeffmath/react-d3-tree/commit/cd7a4ce7f8bbf6817e47a2c9631b5b47dcaaf9cf), in case you'd like to use them as a guideline.

[2018-08-02 12:53] feralislatr commented on #46
cool, thanks a lot!

[2018-08-02 17:39] bkrem commented on #46
Hey everyone,

I had some spare time today and @Dienert's revamp of the workaround reminded me to finally get this done.

So thank you to @Dienert and @anilramavtar for the workarounds first of all, but you should be able to simply use `shouldCollapseNeighborNodes` now as of [v1.11.0](https://github.com/bkrem/react-d3-tree/releases/tag/v1.11.0) 😄

[2018-08-02 17:39] #46 closed

[2018-08-02 17:51] Dienert commented on #46
Yes, tested and it's working. Thanks!

[2018-08-02 18:41] Dienert opened #127 "Adjust tree to fixed height or width on node click"
## Are you reporting a bug, or opening a feature request?
Feature request

## What is the actual behavior/output?
The tree remains the same no matter what node is clicked.

## What is the behavior/output you expect?
If the tree is with horizontal orientation, the tree should be adjusted to fit a fixed height. The same if the orientation is vertical, the tree should be adjusted to fit a fixed width

[2018-09-10 15:21] dmitrydomanski opened #139 "Merging trees via "spouse" nodes"
Thank you for your beautiful work!

Say, I have two ancestor's trees - of a husband and a wife. Is there a way to merge them so both could be visible on the same canvas, merged in a "marriage" point?

[2018-09-19 11:27] usman-ali-siddiqui commented on #96
any luck so far ?

[2018-09-19 11:27] usman-ali-siddiqui commented on #86
I too wait this :(

[2018-09-24 19:12] VovaTereschenko opened #144 "NodeSizes relative to the Foreign Object size."
It would be nice to render nodes with a width and height relative to the size of Foreign Object.
Now we can do just like that nodeSize={{x: 300, y: 380}}.
Which causes:
![area](https://user-images.githubusercontent.com/18355837/45973166-57ea0b80-c046-11e8-983a-14c6ab958bb6.jpg)

[2018-09-25 18:30] alex0112 opened #145 "Specific error on improper data input"
## Are you reporting a bug, or opening a feature request?
Feature request/New Behavior

## What is the actual behavior/output?
This module expects a json string that is an _array of one object_:
[code]

But I would often forget and pass the function _an object instead_:
[code]

Which throws an error:

### _TypeError: e.map is not a function_
`// node_modules/react-d3-tree/lib/react-d3-tree.min.js:

[2018-10-04 22:00] karanbajaj2209 opened #148 "[Question] Is there a way to add Click, Mouseover, MouseOut event to link between two nodes?"
[Question] Is there a way to add Click, Mouseover, MouseOut event to link between two nodes?

- This can help to show info about the link between two nodes.

[2018-10-10 16:50] bkrem commented on #139
Hi @dmitrydomanski,

Apologies for the delay. This might be possible heuristically (as in you arrange two instances of `react-d3-tree` in a way that they intersect at a certain point), but not technically since D3's `tree` function needs a clearly defined single root node to build the graph from; in this case there would be two.

Even if you said "the husband root node is the de facto root node",

[2018-10-10 16:50] #139 closed

[2018-10-10 17:00] bkrem commented on #144
Hi @VovaCHTB,

Great point 👍 Thank you for adding the image, really demonstrates what the problem with the fixed Node/ForeignObject ratio is.

I had a quick think through this and the primary issue here is that letting the `ForeignObject` override  it's `Node`'s dimensions breaks the parent-child relationship between Node-ForeignObject.
I know this would be possible via the context API but it's go

[2018-10-10 17:05] bkrem commented on #145
Hey @alex0112,

Yup totally agree that this is not helpful.

There are really two initial design decisions at play here that I regret and need fixing:
* The input type should simply be the root node (i.e. just the object without the redundant array around it)
* The bundle shouldn't be minified by default to make stack traces useful.

Both of these are breaking changes so they need to be part of v2

[2018-10-11 10:56] bkrem commented on #148
Hi @karanbajaj2209,

This isn't currently possible, but I'll convert this into a feature request so others have an opportunity to request it too and/or submit a PR adding the functionality :)

[2018-10-14 12:43] dekryptic opened #150 "Shape of data...array?"
## Are you reporting a bug, or opening a feature request?
Asking a question

----

I was wondering why the shape of the data an array and not an object? I thought the purpose of the array was supposed to allow for multiple trees, but in your code you write:

[code]

[2018-10-16 07:39] amad-person opened #151 "[Question] Re-centering tree in div on clicking a node"
I'm using the CenteredTree recipe to render the tree in the center of the parent div on the initial render.

I wanted to know if it is possible to scale and re-center the rendered tree inside its parent component _every time a node is expanded_?

[2018-10-19 13:45] bkrem commented on #151
Hi @amad-person,

No this unfortunately isn't part of the feature set at the moment since the `translate` & `zoom` props are intended to set up the graph in a useful position for the user and letting them move freely from that point onwards.

An `autoScale` prop would definitely be cool to have, although on a graph of significant size the nodes would quickly become almost unclickable due to them b

[2018-10-22 06:31] amad-person commented on #151
That makes sense, thanks @bkrem!

[2018-10-23 03:54] akapei commented on #16
@bkrem Any update on this feature or on v2? Happy to contribute if I can.

[2018-10-25 14:41] bkrem commented on #151
No problem, sorry I can't help much right now for your use case.

I'm going to leave this open for further discussion since someone else may have a good approach for this.

[2018-10-26 12:10] bkrem commented on #145
This should no longer be an issue in [v1.12.0](https://github.com/bkrem/react-d3-tree/releases/tag/v1.12.0), you can now simply pass the root node object directly if you prefer.

[2018-10-26 12:10] #145 closed

[2018-10-26 14:59] bkrem commented on #150
FYI this should no longer be an issue in [v1.12.0](https://github.com/bkrem/react-d3-tree/releases/tag/v1.12.0), you can now simply pass the root node object directly if you prefer.

[2018-10-30 16:27] jijeshtcv opened #154 "[Question] Highlight the node onClick"
I would like to highlight the selected node onClick, probably by changing the shape color. Is it possible to update `nodeSvgShape` prop of the selected node onClick? I tried it, but not working as expected. Any help here is much appreciated. I understand from a previous issue that this feature is not supported as of now with direct props. Until then can you please suggest a work around?

## What i

[2018-10-31 20:56] alex0112 commented on #86
@bkrem mind if I pick up this issue?

[2018-11-01 09:43] bkrem commented on #86
That would be great @alex0112!

Feel free to open a WIP PR if you want to discuss the implementation; I will make sure to address any questions or concerns you have.

[2018-11-07 19:02] alex0112 opened #155 "Separate label styles for root and children."
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
Feature request

## What is the actual behavior/output?
Root node labels are styled the same as all other labels.

## What is the behavior/output you expect?
I would like it if I could provide separate styling in for t

[2018-11-13 02:58] greenkeeper[bot] opened #157 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `devDependency` [react](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.
- The `devDependency` [react-dom](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.
- The `devDependency` [react-test-renderer](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.

🚨 [View faili

[2018-11-13 11:41] sibelius opened #158 "render React component in a node"
can we render a custom react component in any node?

[2018-11-17 07:41] jameerjbr commented on #41
Hey @bkrem

I am using larger data tree render take more time and zoom also problem please fix it.
i will attached my code for testing purpose
[tree.zip](https://github.com/bkrem/react-d3-tree/files/2591586/tree.zip)

[2018-11-17 07:45] jameerjbr opened #160 "Long render times for large datasets"
Hey @bkrem

I am using larger data tree render take more time and zoom also problem please fix it.
i will attached my code for testing purpose
[tree.zip](https://github.com/bkrem/react-d3-tree/files/2591588/tree.zip)

[2018-11-17 16:51] alex0112 commented on #158
From the README:

<img width="955" alt="screen shot 2018-11-17 at 9 50 33 am" src="https://user-images.githubusercontent.com/7142972/48663490-46bde980-ea4e-11e8-9138-ad1084b63ce1.png">

[2018-11-17 16:52] sibelius commented on #158
tks, I'll check it out

[2018-11-17 16:52] #158 closed

[2018-11-17 16:55] alex0112 opened #161 "Growing trees"
## Are you reporting a bug, or opening a feature request?
Feature Request

## What is the behavior/output you expect?
I would love my trees to be interactive and to grow.  I.e. if I click a node, it triggers a listener which fetches more data and then renders that data as children of the clicked node.

[2018-11-17 16:56] alex0112 commented on #161
I would love to make this PR time permitting.

[2018-11-21 10:13] Naihan opened #162 "Add and Remove nodes"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
No

Hi
Thanks for sharing this great component, i was wondering how i can delete and add nodes to the tree like you can do in the demo, I've tried to manipulate state with no success

Thanks.. and sorry if its a dumb q

[2018-11-22 06:53] hetoms commented on #160
Set transitionDuration to 0 for larger data sets. Tested your app with that, tree became responsive <1 second.

[2018-11-22 16:40] bkrem commented on #160
Hi @jameerjbr,

Sorry for the delayed response, I've had non-stop week at work and outside of it.

Thank you for addressing this issue already @hetoms, absolutely right, setting the transitionDuration to `0` is recommended for large graphs.

You asking this question made me realise this never got documented properly as a recommendation, I will add a section as soon as I can.

The reason for the qu

[2018-11-22 16:51] bkrem commented on #162
Hi @Naihan,

Thanks for asking this, and no it's absolutely not a dumb question, I simply failed to document this behaviour properly (which I will make sure to correct ASAP).

The way this is implemented in the [demo repo](https://github.com/bkrem/react-d3-tree-demo) is not a realistic use case but it should hopefully clarify how to implement it in your own code:

[code]

The idea is to hold your

[2018-11-27 15:39] Naihan commented on #162
Thanks ! Its working fine

[2018-11-29 00:13] mwilde345 commented on #155
bump

[2018-11-29 01:11] mwilde345 commented on #155
i've been experimenting a bit.
In my styles object:
[code]
this should work for your use case.
all other svg attributes work. I think x, y, and transform are overriden by the textLayout property

[2018-11-29 21:53] mwilde345 commented on #155
I got something working, it's trash though, this should be fixed in the package.

Use the foreignObjectWrapper.
Passing x and y to that wrapper still applies to all nodes. so i assign a class within my foreign object depending on if the node has children or not.
[code]

and the class defines margin-top to be something like -100px or whatever you need.

[2018-11-30 22:32] #157 closed

[2018-12-03 17:39] mwilde345 commented on #155
In my case, I needed to reposition the text horizontally, based on text length.
The foreignObject wrapper element gave a width that was smaller than the actual text.

I used this as a start: https://stackoverflow.com/questions/29031659/calculate-width-of-text-before-drawing-the-text
[code]

[2018-12-04 00:41] mwilde345 commented on #155
I figure I might as well keep spamming this thread with my findings if nobody gives a rebuttal. Sorry for taking over your question, it was dying anyway.

I think this is a better solution than using the canvas. Referencing:
https://stackoverflow.com/questions/18713716/html5-canvas-why-does-measuring-text-with-measuretext-and-offsetwidth-give-di
and
https://stackoverflow.com/questions/118241/calcu

[2018-12-05 15:07] bkrem commented on #155
Hi @alex0112 & @mwilde345,

Apologies for the wait until I gave my 2 cents on this, I've been travelling for work the past 10+ days and was trying to address issues on the repo that I could resolve in the limited time I had.

First of all, very impressive workarounds @mwilde345, thank you for your efforts in providing a way for people to get this done 💯

I completely agree that this is problematic

[2018-12-06 02:50] sos0 commented on #161
Have you seen this link in the documentation btw?
https://codesandbox.io/s/jz1v7o2ryy

You can add your fetch call in the click listener.

[2018-12-07 00:49] mwilde345 opened #168 "Cannot access click event properties"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
Bug

## What is the actual behavior/output?
When clicking a node, the onClick property function is run, as expected. But the event object passed to it gets nullified before I can access any properties. Even after I cal

[2018-12-07 11:37] bkrem commented on #168
Fixed in [v1.12.1](https://github.com/bkrem/react-d3-tree/releases/tag/v1.12.1).

Thanks for pointing this out, this bug has clearly been hiding in the implementation for a while.

Weirdly I couldn't reproduce it the way it was on the codesandbox (and your example repo), I only managed to reproduce it myself by mocking asynchronous behaviour:

[code]

Closing the issue but feel free to reopen if t

[2018-12-07 11:37] #168 closed

[2018-12-07 17:32] mwilde345 commented on #168
wow! Thanks for getting to this so quickly, it works a charm.

[2018-12-07 20:00] mwilde345 commented on #151
Couple thoughts:
* use onclick event, get click x and y, modify graph transform based on some factor of those values
  * ```ReactDOM.findDOMNode(this).firstChild.firstChild.firstChild.setAttribute('transform', `translate(${someX},${someY}) scale(0.7)`);```
* Store an object that tracks the nodes' coordinates in the container, according to their 'id'. Updates would be expensive
* When a node compon

[2018-12-08 01:34] mwilde345 opened #169 "Access individual nodes via refs"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
feature request

## What is the actual behavior/output?
Clicking on a node exposes the nodeData object .

## What is the behavior/output you expect?
 I also want to access the Node as a DOMElement, to get properties li

[2018-12-10 19:21] mwilde345 commented on #161
When you say 'fetch more data', do you mean populating the currently clicked node object with children? as in, currently, your node shows up as a leaf, but you want it to become a 'root node' after clicking on it?

As @sos0 said, the onClick handler contains the `nodeData` param. In my case, I have a flat object stored:
[code]
So if I wanted this behavior, I could get the current node's name, then

[2018-12-10 19:22] mwilde345 commented on #151
@bkrem If i update the state.translate property after the graph is rendered, it is not re-rendered with the new values. Where is this in the code?

[2018-12-13 22:52] DavidBabel opened #171 "consider adding typescript declaration file"
Here is what i did in my project, it's not complete but it fit my needs and is a good basis to implement it :

[code]

[2018-12-20 19:10] lauherkcambria opened #173 "style and label individual links?"
## Are you reporting a bug, or opening a feature request?
Feature Request

## What is the actual behavior/output?
Currently you can add only styles that affect all lines.

## What is the behavior/output you expect?
in the same way we can add nodeSVGShape and attributes to the nodes, I would like to be able to add link attributes and styles.

[2018-12-21 14:19] bkrem commented on #171
Thanks for this @DavidBabel! I'll complete the type definitions for the remaining props and get it published.
I think you should be properly credited for this as a contributor, so feel free to open a PR with your type definitions if you like.

This is also a great starting point for a transition to Typescript, which I want to get done once v2 is finally published (hopefully by the end of the holid

[2018-12-27 19:26] pdguru81 opened #174 "Allow customizeable context-menu on node right-clicks"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
New feature request

## What is the actual behavior/output?
Right now, right-clicks are not processed as events by this node.

## What is the behavior/output you expect?
A customizable context-menu should be displayed

[2018-12-28 08:40] greenkeeper[bot] opened #175 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.11.1` to `7.12.0`.

🚨 [View failing branch](https://github.com/bkrem/react-d3-tree/compare/master...bkrem:greenkeeper%2Feslint-plugin-react-7.12.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-

[2018-12-28 16:21] #175 closed

[2019-01-04 09:21] Savanoop opened #176 "d3 tree is not working in IE11"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
[Replace with your answer]

## What is the actual behavior/output?
[Replace with your answer if relevant]

## What is the behavior/output you expect?
[Replace with your answer if relevant]

## Can you consistently repr

[2019-01-06 01:11] DavidBabel commented on #171
No problem, don't worry for the contrib, not a big deal to me.
Glad to help anyway

[2019-01-07 16:20] bkrem commented on #171
Released as [v1.12.2](https://github.com/bkrem/react-d3-tree/releases/tag/v1.12.2), closing.

[2019-01-07 16:20] #171 closed

[2019-01-07 21:17] alex0112 commented on #173
Related:  #155

[2019-01-13 05:31] Robert-Fish opened #180 "I'm trying to adjust the stroke width of the square svg for all nodes"
`
styles={{
            nodes: {
              strokeWidth: 0.4
            }
          }}
`

What am i doing wrong?

[2019-01-16 05:41] raviwcuk opened #181 "Features - Custom Clicks on Node and Append Node data on Click of it"
dasd

[2019-01-17 05:17] Ben-Tai commented on #77
@dyennam did you manage to figure this out?

[2019-01-17 05:19] dyennam commented on #77
@Ben-Tai I wasn't able to figure it out. But to be honest to the dev, I haven't used this library in 8+ months. So not sure if it has been fixed or not either.

[2019-01-22 13:48] #181 closed

[2019-01-23 01:28] Robert-Fish opened #182 "Using a svg image for the node image"
How am i able to use a svg image for the node image?

[2019-01-23 17:16] bkrem commented on #77
Closing since the discussion here has drifted from the issue topic onto other feature proposals. Feel free to open a feature request issue for said proposals if relevant.

[2019-01-23 17:16] #77 closed

[2019-01-23 17:24] bkrem commented on #182
Hi @Robert-Fish,

By node image I'm going to assume you mean the node itself (i.e. an SVG `circle` by default).
Changing that to an arbitrary SVG element isn't currently possible, but you should be able to **render whatever you like for the node's label element** by using the `nodeLabelComponent` prop and setting the `allowForeignObjects` prop flag.

`v1.x` is opinionated in terms of what is custo

[2019-01-23 17:24] #182 closed

[2019-01-23 17:45] bkrem commented on #180
@Robert-Fish I think the issue here is that you're using `props.nodeSvgShape` (which takes a higher priority than the styling via `props.styles`), but still styling via `props.styles` rather than passing the props to your svgShape(s) directly via `nodeSvgShape.shapeProps`. I think what you want is:

[code]

I created an example on codesandbox too: https://codesandbox.io/s/jn572q8p8w

I also realis

[2019-01-23 17:45] #180 closed

[2019-01-23 17:51] bkrem commented on #174
Hi @pdguru81,

This is definitely a cool idea but unfortunately out-of-scope given the already limited amount of time I have to work on the library + pushing for `v2.x` to get done.

If you (or somebody else) implement(s) this in a stable way I'm happy to get it released, but this is too large a feature for me to implement and then maintain forever without knowing whether it see significant intere

[2019-01-23 17:51] #174 closed

[2019-01-23 17:54] bkrem commented on #169
Thanks for this proposal @mwilde345, I agree that this should be possible, scheduling it for the next minor version bump of `v1.x` or for `v2.1`.

[2019-01-28 07:19] Robert-Fish opened #183 "Failed prop type: The prop `name` is marked as required in `t`, but its value is `undefined`."
Hi i was wondering if you could explain why i'm receiving this issue. For context, i'm mapping an object from my redux store as props.

[2019-01-29 07:10] xgzl87 opened #184 "Can you add a drag sort function?"
Dragging can be performed on any node other than root

[2019-01-29 08:27] xgzl87 opened #185 "A thousand records become very slow, and the browser often gets stuck.Native apis with d3 are fine for a few hundred milliseconds"
A thousand records become very slow, and the browser often gets stuck.Native apis with d3 are fine for a few hundred milliseconds

[2019-01-29 08:56] #185 closed

[2019-01-31 09:39] svkaushik17 opened #186 "Highlighting the selected node path"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
[Replace with your answer]

## What is the actual behavior/output?
[Replace with your answer if relevant]

## What is the behavior/output you expect?
[Replace with your answer if relevant]

## Can you consistently repr

[2019-02-04 01:31] mwilde345 commented on #186
I've got an idea for implementing this i'm going to try soon and see if it works. i'll keep you posted

[2019-02-06 13:36] Sandip2110 opened #188 "ComponentClass<P>' requires between 0 and 1 type arguments"
getting this error as in the react-d3-tree.d.ts file for
var Tree: React.ComponentClass<ReactD3TreeProps,any>;

There should be 1 argument

[2019-02-26 20:08] HACHIMIam commented on #40
[code]

this worked for me

[2019-03-03 15:45] LarsLiden opened #194 "Collapse on custom button not entire object"
I'd like to be able to add buttons to a node to take actions on that node but also allow the user to expand / collapse node by clicking on a different button.

Currently it looks like any click anywhere on the node will expand/collapse.  I can disable that but then can't figure out how to add it back it on a custom button.

Would it be possible to provide a callback or reference so I can manually

[2019-03-03 16:02] LarsLiden commented on #107
Thanks, this helps me.  Can you share your implementation of "clone"?  myRef.state.data has circular references, so I'm not sure what to copy.  Thanks!

[2019-03-03 16:10] LarsLiden commented on #107
Note: seems to work w/o clone and just using original object.

[2019-03-03 16:12] LarsLiden commented on #194
A version of #107 does the trick.  Would be nice to have something more direct, but that works!

[2019-03-03 17:05] Icebreaker9697 commented on #107
Hi Lars,

Unfortunately, I no longer have access to this code, but I don't think I implemented clone. I think I imported it using `import clone from 'clone';` at the top. Let me know if that works.

[2019-03-11 17:19] Kunjan opened #196 "Opacity Set to 0"
I have a tree but for some reason, the opacity is set to 0 which makes it invisible on the screen. Is there something that I am missing?

![image](https://user-images.githubusercontent.com/782964/54144062-61eba500-4401-11e9-8e72-0d8ed17db404.png)

I have this translation but the tree doesnt dispaly even without it
[code]

[2019-03-11 21:08] #196 closed

[2019-03-14 11:31] bkrem commented on #188
Hi @Sandip2110,

I couldn't reproduce this on my side since technically `var Tree: React.ComponentClass<ReactD3TreeProps, any>` is valid (but redundant), since

[code]

I removed the `any` declaration so you shouldn't be seeing this anymore, although I'd still be curious how and when you saw this error if you have a moment :)

[2019-03-14 11:31] #188 closed

[2019-03-14 11:35] bkrem commented on #188
Published as [v1.12.3](https://github.com/bkrem/react-d3-tree/releases/tag/v1.12.3)

[2019-03-18 16:36] LarsLiden opened #197 "Auto-centering inside treeContainer when tree is changed"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
[Replace with your answer]

## What is the actual behavior/output?
[Replace with your answer if relevant]

## What is the behavior/output you expect?
[Replace with your answer if relevant]

## Can you consistently repr

[2019-03-19 18:30] Harshmakadia opened #198 "OnClick event gives error in console along with nodeData and event"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
Bug

## What is the actual behavior/output?
NodeData and Event should be obtained and no error should be thrown in console

## What is the behavior/output you expect?
The error is thrown in console

## Can you consiste

[2019-03-20 04:18] Harshmakadia commented on #198
This seems to be happening only with online code sandbox. It does not happen otherwise. Closing this issue.

[2019-03-20 04:18] #198 closed

[2019-03-25 10:21] specialCoder opened #200 "取消右键之后，变成正在拖动状态"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
[Replace with your answer]

## What is the actual behavior/output?
[Replace with your answer if relevant]

## What is the behavior/output you expect?
[Replace with your answer if relevant]

## Can you consistently repr

[2019-03-26 10:46] morzel85 commented on #186
That would be really useful!
@svkaushik17 you should remove unused issue template items :)

[2019-04-03 09:34] ahmetsezen opened #201 "Click the node and get data from API Dynamically"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## What is the behavior/output you expect?

We want to make our graph with API. We have a binary system as shown in figure below.
![Screenshot from 2019-04-03 12-21-55](https://user-images.githubusercontent.com/25068112/55468023-311b1c00-560b-11e9-9ef7-aa08f9030d9d.png)

API

[2019-04-11 07:46] specialCoder opened #202 "link line has different color"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
bug

## What is the actual behavior/output?
link line has different color

## What is the behavior/output you expect?
line has same color and developer can set custom color

## Can you consistently reproduce the issue/

[2019-04-15 20:27] francisngo commented on #201
I would like to see if this is possible as well. My version isn't a binary tree but instead nodes with n children and/or none.

[2019-04-15 20:34] francisngo commented on #47
@RohanDamani Could you paste/share your code for this?

[2019-05-01 13:42] vprefournier commented on #183
I have the same problem, did you find a workaround or a solution?

[2019-05-09 01:23] faizalmrub opened #205 "multiple parent nodes"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
No.

How do I implement multiple parent nodes pointing to same child node?  Also how do I implement multiple start root nodes?

Thanks

[2019-05-09 05:30] kkangil opened #206 "Question: How to change color when onClick event occured?"
[code]

This is my `nodeSvgShape` value and `onClick` event function.
I want to change fill color when I click node.

I tried this way, but It didn't work.

[code]

How can I fix this problem?

[2019-05-13 15:35] bkrem commented on #183
@Robert-Fish @vprefournier

Yeah this was a remnant of the original use case this lib was built on top of, where a name for each node was required unconditionally.

Since this seems to be a significant annoyance and wouldn't cause a breaking changes if removed I'll publish fix version in a few minutes that removes the `isRequired` on the node name propType.

[2019-05-13 16:27] bkrem commented on #183
Published as [1.12.4](https://github.com/bkrem/react-d3-tree/releases/tag/v1.12.4).

This should no longer be an issue regardless of your `data`'s shape :)

Feel free to reopen if the issue does persist.

[2019-05-13 16:27] #183 closed

[2019-05-14 18:09] francisngo opened #210 "Search capabilities?"
Is there a feature to search the tree and reposition the node searched into the center of container? e

[2019-05-15 16:59] francisngo commented on #186
Any update on this implementation? @mwilde345

[2019-05-26 02:25] mwilde345 commented on #186
No @Francisngo, the project went on pause. But it's good to see people still interested in this issue.

[2019-05-26 08:09] SimpleVictor commented on #210
I would love this 👍

[2019-05-27 12:35] aiportal commented on #116
you can custom pathFunc property.

`(linkData, orientation) => {
    const a = linkData.source;
    const b = linkData.target;

    if (orientation === 'vertical') {
        ...
    } else {
        ...
    }

    return `M ${x1}, ${y1} H ${midX} V ${y2} L ${x2}, ${y2}`;   // return svg path.

[2019-06-03 07:07] huntdream opened #213 "Do not rewrite node's id property?"
https://github.com/bkrem/react-d3-tree/blob/1306492c9a1bd2bbae00d331a0277bf1c2fff4d2/src/Tree/index.js#L143
I am trying to make a remote network request with a node's `id`, but it seems that it's original value was rewritten by a random uuid.
How about replace `id` with `_id` or something else that will not affects the original value?

[2019-06-03 07:36] huntdream commented on #213
found the `id` in `node.value` 🤣

[2019-06-03 08:21] huntdream commented on #213
the value property is assigned by myself in redux when the same data is used by other components.
Although I can fix it manually by simply traversing it, I think preserve the `id` property is a better choice

[2019-06-04 02:58] raytangRT opened #214 "[Question] How to conditionally style link based on connected node"
Hi,

Can I change the link stroke color based on some attributes on the connected nodes

Thanks

[2019-06-26 11:51] tomashodek opened #217 "Toggle the ability of zooming"
Hi,
my goal was to have leafs as list with a scrollbar. I have many items in leafs, so I am putting them into `foreignObject` and then using list to display them. And in list I am using scrollbar, so the leaf is not that long.

## What is the actual behavior/output?
I am changing the boolean value of `zoomable` when mouse is over leaf but tree is not reacting at all and is still zoomable.

## What

[2019-06-27 15:11] #213 closed

[2019-07-02 06:10] yoyoyohamapi commented on #205
+1

[2019-07-04 23:03] Jaleed96 commented on #214
I'd like to know this as well.

[2019-07-05 01:43] yoyoyohamapi commented on #197
+1

[2019-07-10 22:29] francisngo opened #220 "<foreignObject> doesn't seem to have the same result in Safari as it does in Chrome browsers"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
Bug

## What is the actual behavior/output?
<foreignObject>'s width/height and positions in Safari are not equal to Chrome.

## What is the behavior/output you expect?
<foreignObject>'s and tree link's positions are of

[2019-07-11 17:45] francisngo commented on #220
I found out that in `ForeignObjectElement.jsx`, for Safari Browsers, the width and height set in `<foreignObject width={nodeSize.x - BASE_MARGIN} height={nodeSize.y - BASE_MARGIN} {...foreignObjectWrapper}` overwrites the style's width and height from foreignObjectWrapper props.

[2019-07-21 07:57] anarkafkas commented on #205
+1

[2019-07-21 22:46] erfling commented on #214
+1

[2019-07-23 05:48] kylemas opened #223 "Question: Is it possible to generate the tree going down vertically instead of horizontally?"
## What version of react-d3-tree are you using?
1.13.0

I was wondering if it's possible to have the tree going down vertically instead of horizontally? Also, is it possible to not have the zoom when the tree isn't large enough yet?

[2019-07-23 05:50] #223 closed

[2019-07-23 14:19] sagar270690 commented on #182
Since `image` is also an SVG component, you can just pass

                        {
                            shape: 'image',
                            shapeProps: {
                                href="https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png",
                                width: 40,
                                height: 40,
                            }

[2019-07-23 14:22] sagar270690 commented on #86
https://github.com/bkrem/react-d3-tree/issues/182#issuecomment-514230654

[2019-07-23 14:38] anarkafkas opened #224 "Hiding virtual root node / multiple root nodes"
My diagram needs to have multiple root nodes so I've temporarily added a virtual node as a parent of all the root nodes. Is there a way to hide the root node or at least the links belonging to the root?

As a side note, it would be great to have the ability to add multiple roots.

[2019-07-24 19:49] erfling commented on #197
+1

[2019-07-31 21:45] karanbajaj2209 commented on #214
+1

[2019-08-01 10:35] nik10-mah commented on #214
I also need this. I think we can use **pathFunc** attribute and build our own custom function. But I am not able to find any implementation for that so not able to figure out as how to do that

[2019-08-07 12:01] balramkhichar commented on #197
+ 1

[2019-08-12 14:21] gdish opened #226 "Allow passing attribute fields to generateHierarchy"
```treeUtils.generateHierarchy``` doesn't take attribute fields, which means that if you are trying to load a flat array then you can't also load attributes

I'm using react-d3-tree 1.13.0

[2019-08-14 21:16] sibalajp opened #228 "Expand container as SVG expands"

[2019-08-14 21:36] #228 closed

[2019-08-15 04:19] sibalajp commented on #214
related [#155](https://github.com/bkrem/react-d3-tree/issues/155)

[2019-08-15 04:31] sibalajp opened #229 "[Question] Is it possible to change style/color of individual nodes based on a node value?"
## Are you reporting a bug, or opening a feature request?
Question or could be a feature request.

## What is the actual behavior/output?
Currently not able to change fill color based on node value

## What is the behavior/output you expect?
Change node fill color based on node value or attribute key value

## What version of react-d3-tree are you using?
react-d3-tree

[2019-08-15 21:52] sibalajp commented on #229
Missed it in the docs, but the answer is nodeSvgShape prop

[2019-08-15 21:52] #229 closed

[2019-08-20 00:35] sibalajp commented on #96
This may help? [#96](url)

[2019-08-22 08:45] TomlDev opened #231 "Using exported types for TypeScript"
## Are you reporting a bug, or opening a feature request?
feature request

## What is the actual behavior/output?
I cannot use the types (eg. NodeSvgShape/ReactD3TreeItem) because they don't get exported.

## What is the behavior/output you expect?
That I can use the react-d3-tree types in my project for type-validation

## What version of react-d3-tree are you using?
latest

[2019-08-22 09:35] bkrem commented on #231
Hi @TomlDev, thanks for pointing that out, oversight on my part in terms of exporting all relevant types when I set up the definition file.

It should be fixed now in `v1.14.1` (https://github.com/bkrem/react-d3-tree/commit/61e3351ce61dbfb421d5de14ad17a1085a0e173c)

Feel free to reopen if there's still an issue.

[2019-08-22 09:35] #231 closed

[2019-08-23 09:40] TomlDev commented on #231
Thanks @bkrem !
Another thing that occurs (and that was the initial reason I needed those types) is that onUpdate option passes a ReactD3TreeItem as first parameter, but that data also includes zoom & translate attributes which don't occur in ReactD3TreeItem.. Shall I open a new issue for that?

[2019-08-23 11:10] bkrem commented on #231
Oh wow yeah great point, that's been wrong all along 🤦‍♂ this is the issue with retrofitting typings onto an old codebase.

Thanks for pointing that out too 💯  I've updated the type declarations and the docs (https://github.com/bkrem/react-d3-tree/commit/ac7ba4fbd48799653c2a05be9cae2bdcb41ddb83) and published as `v1.14.2`.

I had a quick play around with it, but feel free to open another issue if

[2019-08-26 05:07] TomlDev commented on #231
Thanks @bkrem, I get this error after updating:
[code]

[2019-08-28 13:09] Nilanth opened #232 "How to replace ID"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
opening a feature request

## What is the actual behavior/output?
ID is autogenerated

## What is the behavior/output you expect?
Need replace the ID manually

## Can you consistently reproduce the issue/create a repro

[2019-08-30 10:15] Nilanth commented on #220
@francisngo Have you fixed this issue

[2019-08-30 10:23] TomlDev commented on #224
For i child nodes of your root node:
[code]

[2019-08-30 10:26] TomlDev commented on #232
You can set the ID value you need to another key, for example iterate over all nodes and set

`            node.deviceId = node.yourID`

[2019-08-30 10:31] TomlDev commented on #217
Can you show some code?
I assume that you are using react state?
[code]

[2019-08-30 10:34] TomlDev opened #233 "Error after updating to the latest version"
@bkrem, I get this error after updating to the latest version:
[code]

_Originally posted by @TomlDev in https://github.com/bkrem/react-d3-tree/issues/231#issuecomment-524717282_

[2019-08-30 11:04] bkrem commented on #233
Hi @TomlDev,

Can you post the reproduction case for this please? At what point are you seeing this?

[2019-08-30 11:44] tomashodek commented on #217
Yes, I am using foreignObject where I have long list, which I want to be scrollAble, so when mouse is on that node (foreignObject) I am setting `zoomAble` state to false, because I don't want to zoom the tree instead of scrolling in my list.

This is props of Tree component:
[code]

In `OrgChartNode` I have event listener which triggers `toggleZoomAble` method where I'm just toggling the state lik

[2019-09-02 07:58] TomlDev commented on #210
I have implemented search by searching all node labels for its .innerHTML and then center the container to that position retreived by .getBoundingClientRect()

Code:

[code]

TopologieViewSearch.tsx
[code]
SearchInput.tsx
[code]

[2019-09-02 08:09] TomlDev commented on #233
This is the full stracktrace:

[code]

Do you still need production code? Is it perhaps because of outdated react-dom module?

[2019-09-05 06:57] TomlDev commented on #233
The error was not giving any clues. Before we was destructuring everything at the root of responseData which also included keys like metadata which react-d3-tree doesn't need at all. Got it fiexed, was problem on my side, thanks.

[2019-09-05 06:57] #233 closed

[2019-09-06 13:07] bkrem commented on #233
Yeah my original assumption was that you had an issue with the TS compiler after I updated the definitions (since that's all that changed), but since this seems to be a runtime error it can't be that.

I realise that the minified-by-default situation is annoying (one of multiple regrets I have after-the-fact for v1).

With the limited time I can still spend on this repo I'm considering shipping a

[2019-09-10 21:40] bhgsbatista commented on #125
You should open a PR :)

[2019-09-11 08:12] TomlDev opened #236 "Adjust zoom onMouseWheel granularity"
## Are you reporting a bug, or opening a feature request?
feature request

## What is the actual behavior/output?
zoom levels of the mouse wheel are not adjustable

## What version of react-d3-tree are you using?
latest

[2019-09-17 19:12] bhgsbatista opened #237 "Restore compatibility with React 15"
## Are you reporting a bug, or opening a feature request?
Bug

## What is the actual behavior/output?
Translate prop does not seem to do anything when using React 15.

## What is the behavior/output you expect?
Translate prop would translate SVG with React 15.

## Can you consistently reproduce the issue/create a reproduction case (e.g. on https://codesandbox.io)?
Yes: https://codesandbox.io/s/nif

[2019-09-17 19:14] bhgsbatista commented on #237
This seems to have been broken after version 1.13.0

[2019-09-17 19:33] bhgsbatista commented on #237
Actually I think this is related to adding `UNSAFE_` in front of React lifecycle hooks, since I'm still on React 15 this broke things for me.

[2019-09-17 20:06] bhgsbatista commented on #237
https://github.com/bkrem/react-d3-tree/pull/239

[2019-09-18 17:18] bkrem commented on #237
Yeah this was completely unintentional 🤦‍♂  thanks for reporting it and opening a PR to revert the changes.

Since I wanted to solve the compat issue (at least for now) for both people on React 16 and React 15, I've migrated or simplified the affected code and polyfilled with https://github.com/reactjs/react-lifecycles-compat where the compat constraints couldn't be satisfied with `componentDidUpd

[2019-09-18 17:18] #237 closed

[2019-09-18 17:41] bhgsbatista commented on #237
Thanks for fixing the issue promptly and the correct way :)

[2019-09-18 17:45] bhgsbatista commented on #237
The issue is still occurring: https://codesandbox.io/s/nifty-wilson-xbfl8

Once you pan even once the tree jumps to the correct destination, I think the issue is this line in `componentDidUpdate`:

`this.internalState.d3 = Tree.calculateD3Geometry(this.props);`

Because `setState` is not called here d3 does not cause a re-render.

I think it would be a better pattern to store `d3` inside state, no

[2019-09-18 17:50] bhgsbatista opened #240 "Transform does not get applied immediately in React 15"
## Are you reporting a bug, or opening a feature request?
Bug

## What is the actual behavior/output?
Translate prop does not seem translate SVG correctly until user pans the view when using React 15.

## What is the behavior/output you expect?
Translate prop would translate SVG correctly from the start.

## Can you consistently reproduce the issue/create a reproduction case (e.g. on https://codes

[2019-09-18 17:50] bhgsbatista commented on #240
More info: https://github.com/bkrem/react-d3-tree/issues/237#issuecomment-532791875

[2019-09-18 18:19] bkrem commented on #240
Ugh sorry that's annoying. I've addressed what I could this evening, I'll try to patch that up tomorrow or Friday but I can't promise I'll have time to work on the repo.

If it's urgent for you please submit a PR that fixes this and I'll get it released for you.

[2019-09-18 18:21] bhgsbatista commented on #240
No worries, I am working off of my fork. It's not the best fix (since it's not compatible with React 17), but it works for now.

[2019-09-19 14:44] ftirej opened #241 "Tree auto center after focus and first click"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
[Replace with your answer]
Open Bug

## What is the actual behavior/output?
[Replace with your answer if relevant]
You can see this on the demo app. After first data load, the tree is not centered, and will auto center

[2019-09-19 15:49] bkrem commented on #241
Thanks for reporting @ftirej, this duplicates #240 and was an unintended consequence of having to migrate some code in `Tree` to fix broken compat with React 15.

If you're not using React 15 I'd recommend using v1.15.0 until I've had a chance to patch this issue. I'll try to allocate some time this evening to get that annoying issue resolved for the latest version.

Closing, let's keep the discus

[2019-09-19 15:49] #241 closed

[2019-09-19 16:21] bkrem commented on #240
Fixed in [v1.15.2](https://github.com/bkrem/react-d3-tree/releases/tag/v1.15.2)

Sorry again for the unnecessary regression, I was rushing the compat fix because I didn't have much time to get it shipped.

(cc @ftirej)

[2019-09-19 16:21] #240 closed

[2019-09-19 17:23] bhgsbatista commented on #240
No problem, thanks for fixing it quickly and properly!

[2019-10-04 10:17] gauravsharma084 opened #243 "How can we provide Custom +/- button to collapse/expand node?"

[2019-10-07 14:53] gurmani4070 opened #244 "Printing the tree in png format?"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
[Replace with your answer]

## What is the actual behavior/output?
[Replace with your answer if relevant]

## What is the behavior/output you expect?
[Replace with your answer if relevant]

## Can you consistently repr

[2019-10-11 07:16] tokarskyibogdan commented on #47
Did someone find solution?
@francisngo steps to reproduce
- create react component with react-d3-tree element
- when the component receives a new tree data the tree is going to show every node as opened

[2019-10-16 11:18] Zunaib commented on #95
If anyone is still strugling ?

For Imports
---------------
if (canUseDOM()) {
  const ReactD3Tree = require('react-d3-tree');
  Tree = ReactD3Tree.default;
}

For Usage
--------------
 if (!canUseDOM()) return null;
  return (
    <div className="react-tree" id="treeWrapper" style={{ width: '150em', height: '150em' }}>
      <Tree {...props} />
    </div>
  );

Function (canUseDOM)
------------
e

[2019-10-16 11:19] Zunaib commented on #40
If anyone is still strugling ?

For Imports
if (canUseDOM()) {
const ReactD3Tree = require('react-d3-tree');
Tree = ReactD3Tree.default;
}

For Usage
if (!canUseDOM()) return null;
return (
<div className="react-tree" id="treeWrapper" style={{ width: '150em', height: '150em' }}>
<Tree {...props} />
</div>
);

Function (canUseDOM)
export function canUseDOM() {
return !!(typeof window !== 'undefined

[2019-10-29 18:00] sunny-kim-92 commented on #124
Hey, I know this is from a while ago, but I'm having this issue as well. I've tried adding a custom drag handler to accompany the zoom handler as defined in the package, but I can't get it to work. You ever made progress on this?

[2019-10-29 18:18] murphyke commented on #124
Wow, that's a long time ago. I don't think I made much progress on it; that project didn't make it out of proof-of-concept. I will provide code snippets of what I did, because I no longer understand them. That's the best I can do, since I'm not working on that anymore.

After all this time, I would be surprised if there is not a way of fixing or working around this problem, but good luck.

[code]

[2019-10-29 18:55] sunny-kim-92 commented on #124
Thank you! Your ideas make sense, thanks for all the comments.

[2019-11-14 05:29] nickluger opened #248 "Why is react-transition-group such an old version and not upgraded?"
## What's the issue?

I'd like `react-transition-group` to be upgraded to a newer version. The old version is for example using `componentWillReceiveProps` which causes warnings in React@16.9+. I saw that you ignore `react-transition-group` in Greenkeeper, pinning it to  version `1.1.3` while the current version is `4.3.0`. Why's that? I saw some issues touching it like https://github.com/bkrem/re

[2019-11-29 08:17] greenkeeper[bot] opened #249 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.16.0` to `7.17.0`.

🚨 [View failing branch](https://github.com/bkrem/react-d3-tree/compare/master...bkrem:greenkeeper%2Feslint-plugin-react-7.17.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-

[2019-12-08 09:12] martyns0n opened #251 "Different orientations at different tree depths"
## Question / Feature request

It is possible to make a vertical tree with horizontal branches of leaf nodes? I want to add this functionality to this library, but I can't find information about in d3 docs.

## Expected view:

<img width="714" alt="image" src="https://user-images.githubusercontent.com/20739202/70387239-cd27cf00-19b3-11ea-960e-74c7021945c4.png">

[2019-12-12 21:24] matthewshim-ms opened #252 "Docs/README update request: styles options"
It would be nice to include a list of available SVG/styling properties are available for the links, nodes etc.

The docs provide an example in the Styling section:

[code]

Which is nice, but not all SVG/CSS properties seem to be available. In addition, the properties are not direct. For example, the above uses 'strokeWidth' in camel case, whereas official docs use 'stroke-width'.

[2019-12-19 04:59] bhutaninitin opened #256 "[bug?]orientation/nodeSize props do not dynamically update the tree"
orientation={this.state.orientation} does not change orientation when this.state.orientation changes to horizontal or vertical. Is this a bug or is there any other way to programmatically change the orientation?

[2019-12-19 11:42] mehuljariwala commented on #226
+1

[2019-12-19 11:42] mehuljariwala commented on #226
same Problem

[2019-12-19 11:52] mehuljariwala commented on #226
{
          parent: 1,
          child: 2,
          attributes: {
            "FlatJSON Attribute A": "xyz",
            "FlatJSON Attribute B": "pqr"
          }
        }

[2020-01-06 07:53] Imadra opened #257 "initialDepth is not working"
So, what I'm trying to do is to set initialDepth for my tree like this:
`<Tree data={self.state.data} separation={self.state.separation} pathFunc="elbow" translate={self.state.translate} orientation="vertical" initialDepth={1}/>`
However, my tree is not collapsing to initial depth, so I wonder why is that happening?

## Are you reporting a bug, or opening a feature request?
Bug

## What is the act

[2020-01-09 07:52] shubham348 opened #258 "initial depth and collaplseneighbouring node not working"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
bug

## What is the actual behavior/output?
should render initial depth provided and should collapse neighboring nodes
## What is the behavior/output you expect?
[Replace with your answer if relevant]

## Can you consi

[2020-01-15 14:41] #249 closed

[2020-01-15 14:44] bkrem commented on #244
I believe we had a discussion regarding this topic outside the issue tracker, regarding it being an out-of-scope issue for the library to solve this, since there are existing solutions for this use case, e.g. https://github.com/jxnblk/repng

Closing.

[2020-01-15 14:44] #244 closed

[2020-01-15 14:54] bkrem commented on #252
Hi @matthewshim-ms,

Yes you're spot on here; the docs have become messy & rather opaque over time due to too many ad-hoc additions to the v1 API (basically, my initial approach to this library was too opinionated when I started it 3+ years ago).

I'm currently reviving my WIP on the `v2` branch, since I have some proper time to dedicate to this library over the coming weeks. The current aim is to

[2020-01-15 15:34] bkrem commented on #47
Apologies it's taken me so long to address this issue properly.

I'm dedicating myself for the next few weeks to resolving long-standing issues that are still shippable as part of v1 (like this one), as well as shipping a long-overdue v2 with a typescript-first, less opinionated, and more flexible public API.

I will update this thread once this issue is resolved for the `updating data` case, eith

[2020-01-15 15:39] bkrem commented on #257
Hi @Imadra,

I just double checked and `initialDepth` hasn't regressed in terms of what it actually is supposed to do (set the depth on the first render), but I believe you're talking about the case where `initialDepth` is not applied when the data set changes dynamically.

There's already an issue for that case here (#47), so I'll close this as a duplicate.

I'm currently in the process of addres

[2020-01-15 15:39] #257 closed

[2020-01-15 15:42] bkrem commented on #258
Looks like this duplicates #47 (please reopen with a more detailed description if that's not accurate).

I'm currently in the process of addressing this, please see the canonical issue above for details :)

[2020-01-15 15:42] #258 closed

[2020-01-15 15:52] bkrem commented on #205
Hi @faizalmrub,

Sorry it's taken me this long to reply, I've finally found a good chunk of time to spend on this library again.

I believe what you're asking isn't possible via `D3`'s `tree`, since the tree is essentially a directed acyclic graph (DAG), i.e. it does not allow for circular references.

For example, if you had `root node -> 2 intermediate nodes (which both link to the same child no

[2020-01-15 15:52] #205 closed

[2020-01-15 15:59] bkrem commented on #125
Hi @jeffmath,

Apologies that it's taken me absolutely forever to thank you for this!
I'm committing to finally shipping a much improved v2 in the coming weeks, and your fork is going speed up the refactor to D3 v4.x.x a lot :)

I believe part of the issue here with global namespace conflicts being possible is also to do with how I originally decided to bundle the library for v1, which is another

[2020-01-15 16:05] bkrem commented on #220
Ah man, sorry about this (and my very delayed response); I had no idea that the way that expression evaluates would be subject to browser compat :/

I'm currently cleaning up the repo & committing myself to shipping a v2 in the coming weeks, which I will make this a part of, since I think the wisest move here is to remove that implicit base margin (breaking change so v2) which is confusing anyways

[2020-01-21 00:04] david-saint commented on #151
Hi what's the CenteredTree recipe?

[2020-01-21 00:18] matthewshim-ms commented on #252
@bkrem Ahh the property I was looking for was 'depthFactor'.

If I have time I'll make a simple PR just to update some of the property descriptions :)

[2020-01-23 15:43] bkrem commented on #252
Glad you found it 👍 I'll leave this open until the new docs are ready as the de facto reference issue for the `v2` docs.
Please feel free to follow up here if something is still ambiguous for you in the v1 docs, I'll do my best to add a timely response after I've addressed some older outstanding issues :)

[2020-01-27 20:05] tsamawi commented on #41
Has this custom solution been implemented?

Has this been implemented?

[2020-01-30 11:03] edo commented on #217
Hi @tomashodek were you able to resolve this issue? I ran into the same problem:
Changing the zoomable bool from false to true correctly works, both the grabhand and the zoom/dragging is correctly disabled and enabled.

But when updating with state, only the grabhand dissapears, but the tree stays zoomable/pannable.

[2020-01-30 16:05] bkrem commented on #217
Hi @tomashodek & @edo,

Thanks for originally filing this issue and bringing it to my attention again now. I've finally found a good chunk of time to address issues and to push towards a v2 release.

I'll look into the shortest path to resolve/implement this. To be honest, when I built the v1 API I simply didn't consider this specific use case, so the `zoomable` prop wasn't set up for dynamic chan

[2020-01-30 21:03] #28 closed

[2020-02-01 22:56] greenkeeper[bot] opened #267 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.18.0` to `7.18.1`.

🚨 [View failing branch](https://github.com/bkrem/react-d3-tree/compare/master...bkrem:greenkeeper%2Feslint-plugin-react-7.18.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-

[2020-02-05 05:32] renjiie opened #268 "Changing the data props"
## What is the behavior/output you expect?
Hi ,
Excellent work! Just need a solution for my problem regarding the data props
The data props contains the attributes as a seperate objects.  I have my data props as given below
[code]

[2020-02-05 11:37] m-korkut commented on #251
+1

[2020-02-05 20:54] m-korkut opened #269 "download chart"
Hello, How can I download the graphic as pdf or image, will this kind of file download feature be added in future developments?

[2020-02-10 16:03] peterbe opened #272 "Tree not in the middle of the container"
## Are you reporting a bug, or opening a feature request?

Not sure. It could just be a user error. Either way, it's not clear how to resolve it.

## What is the actual behavior/output?

See https://codesandbox.io/s/pensive-liskov-1mtcs?fontsize=14&hidenavigation=1&theme=dark
If it doesn't load, it looks like this:
<img width="370" alt="Screen Shot 2020-02-10 at 11 01 00 AM" src="https://user-imag

[2020-02-10 17:11] julientregoat commented on #272
here is an example from the documentation on how to do this: https://codesandbox.io/s/vvz51w5n63

[2020-02-10 17:19] julientregoat opened #273 "Centering tree perspective on a specific node"
Hi! Thanks for your work on this package @bkrem , I've been enjoying working with it.

One question I couldn't find an answer to in other issues. most of the questions I read were about centering a tree inside a `div`. I'm looking to move the 'focus' / 'perspective' (not sure of the d3 terminology) to a selected node after click. e.g. the tree stays where it is as far as the DOM is concerned, but

[2020-02-10 17:40] julientregoat commented on #273
looks like I misunderstood the `translate` property - that seems like the intended solution here!

[2020-02-10 17:40] #273 closed

[2020-02-12 13:46] #267 closed

[2020-02-14 15:14] martyns0n commented on #107
@Icebreaker9697
I repeated your trick and my ref have all properties of tree except collpaseNode/expandNode methods. I tried it both on class and functional components. So i have error. It's seem like complicated way to get desired result.

@bkrem Have you any ideas?

[2020-02-14 16:00] bkrem commented on #107
@martyns0n

There's not really a good way to solve this use case for the v1 API unfortunately :/ Another reason why I'm really focused on shipping v2 at the moment to allow for way more flexibility in general.

I'll turn this into a feature issue a la "Implement `nodeToggleConditions` prop" so this scenario can get first-class support once the most pressing issues for v2 are done, e.g.:

[code]

@

[2020-02-15 12:56] bkrem commented on #107
Oops, so I was in fact missing something I just realised: @Icebreaker9697's steps were completely right, since the changes you want need to be merged into the full tree (so need to re-identify the appropriate node in the full data set) 🤦‍♂

Looking at the workaround's use of internals I'm thinking about exposing some of the internal util functions in v2 as well (e.g. `findNodeById`, `findNodesAtDe

[2020-02-19 20:00] mderanek opened #275 "Preset Depth for a node or keep _collapsed constant past initial layout"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
Bug/Feature Request

I would like to know of a way to keep _collapsed constant so I can have a parent's children appear deeper than other children depending on its attributes. (ie. parent at depth 1 can have children a

[2020-02-21 17:40] SecurityAnalystWB commented on #214
I worked that :

file css
`.linkBase{
    stroke:#ccc !important;
}`

It worked

[2020-02-22 14:01] martyns0n commented on #107
I solved this with actual library version (1.16.1). My code:

[code]

[2020-02-24 07:58] rishi1804 opened #276 "how to fetch JSON data from an API to draw a dendrgram using react-d3 ."
I have created an API using Django, this API returns JSON data now I want to fetch this JSON data in my react app to make a dendrogram tree using d3.
how can I fetch and pass the JSON data to my react app through my API?

[2020-03-02 03:13] xyywp opened #281 "hi,how can i get a right-to-left tree?"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
[Replace with your answer]

## What is the actual behavior/output?
[Replace with your answer if relevant]

## What is the behavior/output you expect?
[Replace with your answer if relevant]

## Can you consistently repr

[2020-03-02 23:04] mderanek commented on #281
making depthFactor negative will reverse the direction of your tree

[2020-03-03 08:59] xyywp commented on #281
it works, thank you

[2020-03-04 03:34] Parkseokje commented on #197
It's a bit of a trick, but I don't know if it might help.

[code]

[2020-03-05 10:19] adomrockie commented on #107
Is this feature available now?

[2020-03-06 14:49] caginbektas opened #282 "Disappeared node with fill attribute"
## Are you reporting a bug, or opening a feature request?
Question

## What is the actual behavior/output?
3.jpg as attached below

## What version of react-d3-tree are you using?
Latest

Hello,
I have created a tree as you can see below. With that combination, circle nodes are disappearing if you want to use fill as a shapeProps. Could you please have a look and help with that? If you need more i

[2020-03-06 15:35] caginbektas opened #283 "Update the tree"
## Question

Hello,

I may need to change the tree on the fly. What exactly do I need to do to change it?

The exact requirement is, the source data may change, I am able to get this change, and I want to draw the tree with the new data.

[2020-03-08 18:07] ankero opened #284 "Safari + foreignobject render issue [SOLVED]"
This is not an issue, but something that could be added to the README. I'll add it here so if someone faces a similar issue, a solution can be found in this repo.

When developing with this libary and if you use foreignobject to render a node, check how it is displayed in Safari (Mac + iOS). We faced an issue, where the node content was rendered to coordinates 0,0 (top-left corner) of the parent S

[2020-03-09 09:56] caginbektas commented on #186
@mwilde345 definitely interested

[2020-03-13 14:26] noahhai opened #287 "Configure distance between tree levels"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
Feature request

## What is the actual behavior/output?
Does not appear to be a way for the tree to adjust distance between levels.

## What is the behavior/output you expect?
Would like to be able to change the distan

[2020-03-13 14:49] noahhai commented on #287
figured out it's nodeSize.x

[2020-03-13 14:49] #287 closed

[2020-03-14 07:06] edo commented on #284
Thanks for posting this @ankero. Was struggling with this same issue and couln't find it.

[2020-03-14 07:07] edo commented on #283
Hi @caginbektas. Your request is very vague. What is stopping you from changing it on the fly?

[2020-03-15 10:15] bkrem commented on #284
Thanks so much for explaining this issue for everyone @ankero 🙏 I'm going to pin this great explanation and add a link to the issue in the readme.

Sorry for the delay on any action here, I'm only now coming back to the library to keep working on v2 and recent issues/critical v1 patches after a lengthy stint of being unwell (fortunately unrelated to current events) and some high prio offline conce

[2020-03-15 10:24] bkrem commented on #283
Hi @caginbektas,

As @edo mentioned, it's not really clear what exactly the issue is that you're facing. If you're simply looking to update the tree whenever your dataset changes, you need to manage the dataset as state in your `Tree`'s parent component, e.g.:

[code]

This (simplified) snippet is using React hooks, but it works the same if you're using classes, except you'd be passing e.g. `this.

[2020-03-15 10:24] #283 closed

[2020-03-15 10:32] bkrem commented on #281
Thanks for replying to this already @mderanek 🙇 Closing.

[2020-03-15 10:32] #281 closed

[2020-03-15 10:45] bkrem commented on #220
Please note, #284 may be related to this. I'm still going to remove the base margins for v2, but if you're seeing odd behaviour in Safari it may also be related to this upstream issue in the browser itself.

Will report back here once I've done my own investigation into cross-browser issues in v1 and how they can (hopefully) be mitigated for v2.

[2020-03-15 11:04] bkrem commented on #282
Hi @caginbektas,

So from the screenshots what I believe is happening here is that you're missing the `shape` property for `ParentNode`. If you set `shape: "circle"` and set a radius for it (e.g. `r: 10`) the node should appear correctly, see the `myTreeData` example here:

https://codesandbox.io/s/dawn-leftpad-mjq69

I just noticed that this is from the example in the docs, my apologies for the c

[2020-03-15 11:04] #282 closed

[2020-03-16 12:31] #16 closed

[2020-03-20 11:04] bfreden commented on #214
Adding a css file entry changes all links. The component supports changing the style for all links without using a css file.

The request is to change select links.

[2020-03-20 11:07] bfreden commented on #214
We found this component very useful but also would like to control the styling on some links.

I propose supporting new parentLinkprops and childrenLinkprops style porperties in the tree data. An example is below. The parentLinkprops style property would be applied to the link from the parent. The childrenLinkprops style property would be applied to the links to all children. The parentLinkprops p

[2020-03-24 22:37] trsiddiqui opened #291 "Question: Is there a way to pan the area using buttons"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
Question

## What is the actual behavior/output?
Unfound in documents

## What is the behavior/output you expect?
To be able to pan using buttons

## What version of react-d3-tree are you using?
Latest as of 24/03/2020

[2020-03-26 05:13] kamira opened #292 "Add mulitple svg in nodeSvgShape"
[Question] Is there a way to add more svg shape in one nodeSvgShape?

This can help to some people use multiple layer in one node.

[2020-03-26 20:36] Tanagent opened #293 "Is there a way to only make some part of the node collapsible?"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
feature request

## What is the actual behavior/output?
the collapsible feature expanse all the nodes.

## What is the behavior/output you expect?
I would like to collapse only some of the nodes and expand the others.

[2020-04-03 18:37] sopranolinist opened #296 "Prop to auto-adjust tree width on load?"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
Question, possibly Feature Request

## What is the actual behavior/output?
After adding nodes to my data set, when I load the tree the width of the tree does not auto-adjust so that it displays all nodes, some nodes ar

[2020-04-09 07:41] hsellik commented on #186
@mwilde345 Interested in this feature as well.

[2020-04-10 12:11] dcanfield commented on #214
I also need this for my implementation.  As @nik10-mah mentioned, I hoped it might be possible to gain access to the _path_ element using the _pathFunc_ property in react-d3-tree.  I spent the afternoon looking through this, and am posting my results.  For reference please review the [SVG Paths element docs](https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Paths).
Looking at a path elemen

[2020-04-10 13:05] dcanfield commented on #214
Looks like there is PR for a solution similar to mine already in the works, and that adding custom class to links and nodes is WIP for the next major release:

https://github.com/bkrem/react-d3-tree/pull/179

Looking forward to the next release!  Any idea on the timeline?

[2020-04-19 15:14] martyns0n commented on #107
Yes, i'm using it

[2020-05-21 16:14] hsellik commented on #173
This issue is quite old, but are there any solution to this?

[2020-05-21 18:12] alex0112 commented on #173
#155 has some workaround information

[2020-05-22 06:56] hsellik commented on #173
https://github.com/bkrem/react-d3-tree/issues/214 is related as well

[2020-05-28 19:45] sopranolinist opened #299 "Snapshot output keeps changing"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
neither: question about how to do snapshot testing

## What is the actual behavior/output?
when attempting to generate a snapshot of my tree, there are several id attributes whose values are generated by the library, a

[2020-06-04 10:51] gk108000 opened #301 "is it possible to close all the other child node except the clicked ones?"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
[Replace with your answer]

## What is the actual behavior/output?
[Replace with your answer if relevant]

## What is the behavior/output you expect?
[Replace with your answer if relevant]

## Can you consistently repr

[2020-06-11 13:25] baptisteArnaud opened #302 "baseNodes translated to infinite => `transform="translate(2744000,280)"`"
## Are you reporting a bug, or opening a feature request?
A bug

## What is the actual behavior/output?
I'm computing a tree on component load but it is weirdly rendered :
![CleanShot 2020-06-11 at 15 17 10](https://user-images.githubusercontent.com/16015833/84389862-fccfc200-abf6-11ea-9118-a07c7d02fd0a.png)

## What is the behavior/output you expect?
![CleanShot 2020-06-11 at 15 20 45](https://us

[2020-06-11 13:28] baptisteArnaud commented on #302
### UPDATE

if my function returns `return JSON.parse(JSON.stringify(newTree));` it succeeds rendering the tree

if it returns `return newTree` then it fails.

[2020-06-12 06:41] brillantewang opened #303 "a way to offset single child node?"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
A question, possible feature request.

## What is the actual behavior/output?
If a node has a single child, the child node is placed directly below its parent (given a `vertical` orientation).

## What is the behavior/

[2020-06-15 08:11] prateeksha-nf commented on #301
shouldCollapseNeighborNodes prop can help you achieve that

[2020-06-19 12:27] Youssef1313 opened #304 "How to have node text inside of a square"
Instead of the small default shapes which has the node text outside of them, I want the text to be inside of a square that resizes depending on the text length, is that possible?

[2020-06-24 06:19] husainshabbir commented on #281
This works perfectly for a tree with horizontal orientation. How can get the same result for a tree with a vertical orientation? I am trying to get the horizontal tree to expand from right to left (instead of the default left to right).

[2020-06-24 22:17] confrodog commented on #223
What was the accepted answer for this?

[2020-06-24 23:06] confrodog commented on #304
+1

[2020-06-25 15:25] confrodog commented on #272
does this work with React Hooks? i cant convert the code given with the sandbox and not get an error in Chrome debugger

[2020-06-25 23:43] confrodog commented on #268
use a foreign object (react component)

[2020-06-29 15:43] confrodog opened #305 "Different sized buttons"
## Are you reporting a bug, or opening a feature request?
feature request

## What version of react-d3-tree are you using?
1.16.1

Is there a way (or can there be) a way to expand a nodes width to match the width of its largest number of children?
i.e.
<img width="290" alt="Screen Shot 2020-06-29 at 8 41 54 AM" src="https://user-images.githubusercontent.com/35404848/86026622-85ff3b00-b9e4-11ea-970

[2020-07-08 20:21] nigellima opened #306 "Is it possible to customize the node?"
Hello. Congrats for the project.

Is it possible to customize the the nodes? I would like to use the ellipses svg shape but have the label text inside it.

Thanks in advance

[2020-07-15 06:35] nitinreddy3 opened #307 "Providing marker (arrow) for the edges from parent node to the child nodes"
#  Is there any option to show the marker for outgoing edges from parent node to the child nodes?

[2020-07-15 13:38] edo commented on #304
You can do this, by adding a foreignobject with a div in it.
This way you can use normal css.
Here's the documentation: https://github.com/bkrem/react-d3-tree#using-foreignobjects

[2020-07-15 13:39] edo commented on #306
The easier way to customize node content is to use foreignobject and add your custom html/css:
https://github.com/bkrem/react-d3-tree#using-foreignobjects

[2020-07-22 18:04] Houdakilani996 opened #309 "Can i change the length of the lines? there are too short so the graph is not clear"

[2020-07-24 16:29] mauridirecta24 opened #310 "Drag and Drop Tree"
Hi guys,

Im building a POC for use this library on a project. I was using the Example that is on the github site, and works perfectly fine, but how we can disable the drag and drop of the draw on the div that contains the tree? There is a way to keep it in the center and static?

I have a rootlayout component that draws other things into my page and I want to disable that drag and drop thing.

Th

[2020-07-27 13:16] kkg335 commented on #214
i also have to implement this in my code, can i get the solution for it?

[2020-07-27 14:15] mauridirecta24 commented on #310
Just discovered, that if you set the zoomable prop as false, that disabled the drag and drop functionality,

But now the tree get draw on a corner of my container div, how do I make the tree get draw on the center?

Thanks!

[2020-07-27 14:18] mauridirecta24 commented on #310
Never midnd.

Found it at the very bottom of the documentation!

https://codesandbox.io/s/vvz51w5n63

Thanks!

[2020-07-27 14:18] #310 closed

[2020-07-31 08:28] lzq127001 commented on #272
Me too

[2020-08-05 04:49] airenzp opened #313 "Duplicated nodes"
Hi. I wonder if it is possible not to have duplicated nodes if they are the same object in the data, but referenced from different parents. Like adding a link to an existing node instead of painting the subtree again.
Thanks a lot for your support

[2020-08-05 13:24] nicolas-damiani opened #314 "Question: is there a way to stop collapse when clicking on nodeLabelComponent?"
I am trying to specify behaviour when clicking on my new nodeLabelComponent. However when clicked, I cannot stop default behaviour of collapsing/uncollapsing node.

Thanks!

[2020-08-10 19:38] rohitchhabra1 opened #315 "Can we make the first child always in front of the parent?"
parent --------------> child1
                 \
                 ---------> child2

[2020-08-11 05:19] nwheatleKite opened #316 "Request for node-level labels."
## Are you reporting a bug, or opening a feature request?
feature request

I would like to have a means of labeling the node levels. Right now I am trying to modify the top node of each level by adding the name of the level to the name of the node. It doesn't look that great, and it is hard to properly position it since I am also changing the normal node labels.

It would be nice to have an indepe

[2020-08-11 12:25] franklx2 opened #317 "MouseOver still triggered upon node collpase/expand despite x/y position staying the same"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
bug

## What is the actual behavior/output?
I have behavior that is dependent on mouseOver and mouseOut, however, I notice that upon collapsing a node and its children, then the subsequent expand on the same node **WIT

[2020-08-13 09:38] jhcccc opened #318 "Feature Request: Use Name as Text Node"
## Are you reporting a bug, or opening a feature request?
Feature Request
## What is the actual behavior/output?
![image](https://user-images.githubusercontent.com/8275280/90118808-5b4a2580-dd8b-11ea-9cfc-0f18db914031.png)

## What is the behavior/output you expect?
the names are **at the position the nodes**. Instead of **beside the nodes**
![image](https://user-images.githubusercontent.com/82752

[2020-08-13 10:00] jhcccc commented on #318
There's a file `https://github.com/bkrem/react-d3-tree/blob/master/src/Node/SvgTextElement.js`, not sure if it's related

[2020-08-17 08:08] unicornmafia opened #319 "Update Node Attributes without rerendering the whole tree."
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
Not sure if it's intended to work like this or not.

## What is the actual behavior/output?
When updating tree data, it rerenders whole tree

## What is the behavior/output you expect?
I would like it to only rerender

[2020-08-17 12:00] franklx2 commented on #318
Isn't what you're looking for supported by nodeLabelComponent? https://github.com/bkrem/react-d3-tree#nodelabelcomponent

[2020-08-17 12:03] franklx2 commented on #317
Upon further investigation this seems to be happening because when the node is being expanded from a collapsed state, the children that are "spawning" are triggering their own "mouseOver" events. Once they move out of range of the mouse, the original node that was clicked on triggers its "mouseOver" event. I've figured out a workaround in my project so I am good for the time being. Do you have any

[2020-08-19 11:30] jhcccc commented on #318
Thanks, this worked fine!

[2020-08-19 11:30] #318 closed

[2020-08-26 13:41] Foxhoundn commented on #232
So if you have an `id` on your data, it will get replaced by the component id. Why not use something like `_id`? It's quite intrusive.

[2020-09-01 12:31] npetzall commented on #151
@mwilde345 I was actually looking into this and the prop seems to be set, but react doesn't seem to re-render it.

So I did some fiddling, I've done react for a cpl of weeks, so I might be waaay off on the solution. I added a key to the g component rendered by NodeWrapper. The key was just translate.x, translate.y+scale as a string. This caused the g component to re-render when translate was set.

[2020-09-18 08:49] umars2204 opened #320 "how to edit the node ?"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
[Replace with your answer]

## What is the actual behavior/output?
[Replace with your answer if relevant]

## What is the behavior/output you expect?
[Replace with your answer if relevant]

## Can you consistently repr

[2020-10-01 11:14] franklx2 commented on #320
You need to do a few things.
0. Manage the tree data as a state in your code
1. Use the callback for onMouseOver to get the nodeData, then extract the name of the node
2. Use the name of the node to search through the tree data object (I used recursive depth first search). Once you've found it, update the node data. Be sure to return the modified tree data object
3. Update the tree data state with

[2020-10-01 22:00] romanown opened #321 "drag and drop function"
how i can integrate this for functions as http://bl.ocks.org/robschmuecker/7880033 for Drag and Drop, Zoomable?

[2020-10-05 00:49] gerald-menong commented on #40
Any update with integration of this to Gatsby?

[2020-10-14 05:35] saleemameen opened #322 "Expose onContextMenu on Node"
## Are you reporting a bug, or opening a feature request?
Feature Request

## What is the actual behavior/output?
There is currently no 'easy' way to access the right click event on a node. I've figured out a way to do it - but it's too hacky and would be much easier if the React method was just exposed.

## What is the behavior/output you expect?
Be able to right click on a node and call a custom

[2020-11-09 23:52] franklx2 commented on #151
like @npetzall noted above, updating the HTML attribute for `transform=translate(x,y)` directly doesn't affect the <Tree> component's _translate_ state. Once you drag the canvas, the component resumes updating _translate_ again. I was updating the position of the tree by manually updating the first 'g' as you were, however, to get around the jumpiness behavior I've just gone with updating _this.st

[2020-11-11 16:21] lluistfc commented on #309
I don't think you can change the length, but you can change the distance at wich the child nodes are placed with `depthFactor`

[2020-12-01 17:50] ElieudoMaia opened #324 "Generate only one node, using the treeUtil.generateHierarchy() method."
## Are you reporting a bug, or opening a feature request?
Question / Feature request

## What is the actual behavior/output?
I'm trying to create a hierarchical structure with the treeUtil.generateHierarchy () method.
Initially I would like to have only one node in the tree, but when I execute the generateHierarchy method, the following code generates two nodes:
[{
   "parent": "CSVNode1",
   "chi

[2020-12-02 11:34] Drigtime commented on #251
+1

[2020-12-04 07:13] tusharojha opened #325 "Can we make two branches merge?"
Hi @bkrem!
I really liked this package on npm but was curious if I can use this package to make some kind of merge between two branches similar to what git shows.

Like I have 2 children and want them to merge in one. Is it possible with this package?

[2020-12-29 16:30] bkrem commented on #47
Fixed in v1.17.1 and by extension in [v2.0.0](https://github.com/bkrem/react-d3-tree/releases).

If you're able to, I'd highly recommend checking out [v2](https://github.com/bkrem/react-d3-tree/), since it's a major overhaul of the docs, the library's internals (Typescript-first) the API's flexibility (e.g. [`renderCustomNodeElement`](https://github.com/bkrem/react-d3-tree/#rendercustomnodeelement

[2020-12-29 16:30] #47 closed

[2020-12-29 16:43] bkrem commented on #214
Hi everyone,

This is now possible via the [`pathClassFunc` prop](https://bkrem.github.io/react-d3-tree/docs/interfaces/_tree_types_.treeprops.html#pathclassfunc) in v1.17.1 and by extension in [v2.0.0](https://github.com/bkrem/react-d3-tree/releases). Usage examples can be found in the v2 readme's [Styling Links section](https://github.com/bkrem/react-d3-tree#styling-links).

If you're able to, I

[2020-12-29 16:43] #214 closed

[2021-01-05 11:06] LunarAI commented on #201
I see this is still open. I am working with the same sort of structure, whereby a person can have multiple children and those children can have children, etc.

On node click, I have managed to pull the children from our API and format it in the right way, but when I update the data in the tree state, the tree rerenders I believe, and when I click again it tries to fetch the data again, so I made s

[2021-01-05 11:16] rizalgunawan opened #329 "Can we make tree chart with axes (x,y)"
Something like this

![image](https://user-images.githubusercontent.com/47345705/103640165-1c0eb200-4f82-11eb-8bff-66b3ae4fe7c8.png)

[2021-01-05 11:34] LunarAI opened #330 "Tree data does not update when updating data state"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
Bug

## What is the actual behavior/output?
When updating the data dynamically with a state, the tree data doesn't actually update. The data I set at creation is the only data that it displays, regardless if I update i

[2021-01-05 11:54] LunarAI commented on #330
Update: When I wrap it in a container, it clearly shows that it is indeed updating, but it is also rerendering. Is there a way to stop the rerender?

[2021-01-05 12:06] LunarAI commented on #330
If anyone else is facing this issue, I found a workaround by doing the following:

- Wrapping the <Tree/> object in a functional react element. I just used:
`const treeWrapper = () => {
    return (
        <Tree/> // Add your props linked to the state in here
    )
}`
- I also left the initial depth at default, so the entire tree renders. This results in the tree rerendering the updated data that

[2021-01-05 19:16] technicallynick opened #331 "[DOC][BUG]- Styling example uses {sourceNode, targetNode}"
## Are you reporting a bug, or opening a feature request?
Document Bug

The section discussing "Styling Links" uses the following function as an example of dynamic class application:

[code]

However, the keys in the first parameter are actually `source` and `target`, so the above example would fail.

[2021-01-05 19:43] bkrem commented on #301
Thanks for answering here already @prateeksha-nf 🙏

From what I understand `shouldCollapseNeighborNodes` should indeed do the trick for what you described :)

Closing as resolved.

[2021-01-05 19:43] #301 closed

[2021-01-05 19:54] bkrem commented on #331
Great catch, this clearly slipped by me in the full rewrite of the docs. Thank you @technicallynick 🙏

Fixed.

If catch something else that's clearly wrong in the docs, feel free to open a PR so we can have you listed as a contributor for your contributions! :)

[2021-01-05 19:54] #331 closed

[2021-01-06 22:51] bkrem commented on #330
Hi @LunarAI, thanks for making me aware of this issue in v2.

I've created a small repro attempt with a (simplified) data fetch here ([codesandbox.io](https://codesandbox.io/s/rd3t-v2-issue-330-repro-1xpvs?file=/src/App.js)). By default the tree seems to append data as expected, so it's not clear to me what exactly you're encountering in your case.

Could you fork the sandbox and configure it in a

[2021-01-07 19:54] awcot opened #332 "Question: is it possible to zoom programmatically?"
The [d3 zoom docs](https://github.com/d3/d3-zoom#zoom_transform) says we can zoom programmatically using `zoom.transform` on a given selection. Is this possible with the current implementation of `bindZoomListener`? Here's what I've done in my app component where a `Tree` is rendered:
[code]
After clicking the button, the position *will* reset, but only after the next zoom/drag. There's also no tr

[2021-01-17 12:39] LunarAI commented on #330
Hi @bkrem, I am so sorry for not getting back to you yet. I will try to replicate it and submit the link here. It will probably be in early February.

[2021-01-20 18:34] sanjanasrivastava opened #333 "Size limitations"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
Asking a general question

## What is the actual behavior/output?
Very slow performance when I try to use react-d3-tree with a JSON that has ~1500 nodes

## What is the behavior/output you expect?
Less slow performance

[2021-01-21 21:09] bkrem commented on #333
Hi @sanjanasrivastava,

Are you using the `enableLegacyTransitions` prop? If so I'd recommend disabling this flag, since the legacy animations don't scale well beyond small/mid-size graphs (one of a number of reasons they're considered legacy now until a usable and performant alternative is ready).

Without animations enabled, the graph should be responsive, even for large datasets.

E.g. the reac

[2021-01-21 21:28] bkrem commented on #330
No need to apologise 😄 Thanks again for bringing my attention (back) to this, since it's use case that should get first-class support instead of requiring workarounds due to re-render quirks.

I think I realised what you were encountering after re-reading your explanations and playing around with the codesandbox above some more:

Without setting any `initialDepth` this approach works (as you menti

[2021-01-21 21:34] sanjanasrivastava commented on #333
Hi, I'm not using the `enableLegacyTransitions` prop but the tree still animates. Is this prop recent? I installed `react-d3-tree` 2-3 months ago.

[2021-01-23 16:00] bkrem commented on #333
Right, yeah the component's API has gone through a major refactor for v2, which was released recently. You mentioned that you were using the newest version in the issue description, so I understood v2.

For v1 you'll need to **set the `transitionDuration` prop to `0`** (`enableLegacyTransitions: boolean` is v2 upwards). Once the animations are off, tree size should not significantly affect perform

[2021-01-23 16:00] #333 closed

[2021-01-23 16:25] sanjanasrivastava commented on #333
Got it! Thanks :)

[2021-01-27 08:55] tinaClin commented on #100
This issue is occurred again in v2.0.0 ....

[2021-01-30 17:54] bkrem commented on #100
Yes good catch, this was a silly regression I caused during the v2 refactor. Thank you for making me aware of this @tinaClin 🙏

Fixed in [v2.0.1](https://github.com/bkrem/react-d3-tree/releases/tag/v2.0.1) 🚀

Please comment here again if the issue persists for any reason.

[2021-01-30 17:54] #100 closed

[2021-01-31 14:13] kosst-p opened #334 "[Question]: Configurate line between block and center the tree in the div."
Great component! Thanks!
I would like to ask a question, since I am still a beginner in "react", I had some difficulties. I need to make a tree like this:
![offices](https://user-images.githubusercontent.com/45897728/106386158-b678de80-63e4-11eb-83e5-308b6b3c9c48.png)
Until I got a tree like this:
![yy](https://user-images.githubusercontent.com/45897728/106386203-ee802180-63e4-11eb-8db3-d7a641deb8

[2021-02-11 03:46] grg-akshay commented on #45
@bkrem Any updates here? This is a very old issue and this is still troubling us. Can you please take this on priority?

[2021-02-13 12:39] amberv0 commented on #272
For everyone else out there trying to figure out how to center the tree while using function components, I found a solution.

It's not perfect (in particular, I don't like the `shouldRecenterTreeRef` part, but for some reason the `[]` dependency in `useEffect` is not enough), but it works.

[code]

[2021-02-16 20:11] bkrem commented on #329
Hi @rizalgunawan,

Thank you for this feature suggestion. I think this would definitely be an interesting use case for the library, but it's too specific to ship with the library itself, since it's supposed to be a (mostly) generic set of React bindings to the underlying `D3` functionality.

Implementing a chart like this should be possible with the library as is. If it isn't possible for some rea

[2021-02-16 20:11] #329 closed

[2021-02-16 20:13] bkrem commented on #325
Hi @tusharojha,

Apologies for the delay in response here. I wasn't able to work on open source for most of 2020 for both professional and personal reasons, but I'm currently working through the open issue backlog for this library now that v2 has been released.

No, unfortunately this is not possible (I've tried 😄). This package is essentially a set of bindings to the underlying `d3.tree()` implem

[2021-02-16 20:13] #325 closed

[2021-02-16 20:20] bkrem commented on #309
Apologies for the delay in response here. I wasn't able to work on open source for most of 2020 for both professional and personal reasons, but I'm currently working through the open issue backlog for this library now that v2 has been released.

Thank you for helping out here already @lluistfc 🙏

You can adjust the distance between:
-  **different levels/depths of the tree** by using the [`depthFa

[2021-02-16 20:20] #309 closed

[2021-02-16 20:22] bkrem commented on #313
Hi @airenzp,

Apologies for the delay in response here. I wasn't able to work on open source for most of 2020 for both professional and personal reasons, but I'm currently working through the open issue backlog for this library now that v2 has been released.

No unfortunately this isn't possible. This package is essentially a set of bindings to the underlying `d3.tree()` implementation, which cons

[2021-02-16 20:22] #313 closed

[2021-02-22 11:20] gdhelp03 opened #335 "How to set the Depth Level of the Tree"
Hi, I am requesting a feature. Can we Fix the depth Level of Tree?

Suppose I have a hierarchy of tree up to 12 levels or more and I want to limit my tree to show only upto level 6.
In the below-given image, I have a tree up to  14 Level and want to limit the view up to 6 or 7 levels
![tree](https://user-images.githubusercontent.com/3848922/108701333-cd1add00-752d-11eb-96b8-c638bc461653.png)

[2021-03-01 12:21] stevepetebruce commented on #330
Hi @bkrem. We have a similar issue where we are filtering a large amount of data, so need to add the data incrementally. I have replicated your codepen and have it working, but as you mention we need to set the initialDepth because the tree freezes when removed.
Do you have any updates on if you are any closer to fixing the issue? I realise your last comment was just 5 weeks ago.
Thanks.

[2021-03-03 13:41] def-roth commented on #334
For centering, this solved it for me
https://github.com/bkrem/react-d3-tree/issues/272

for display, your image looks like it could be solved with proper css when using a foreign node

[2021-03-05 09:57] sajus opened #336 "Support for `2 dimensional tree structure`"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
This seems to be bug for me, D3 actually supports `2 dimensional tree structure` where we can have right and left tree together in a single DOM.

## What is the actual behavior/output?
Currently we have just one root a

[2021-03-09 22:21] bkrem commented on #330
Hi @stevepetebruce,

February was a super busy month for me both in- and outside of work, but I had some time this weekend to look more deeply into this topic and make some progress.

I want to clarify that this is really a whole new feature set for the library (explained below), rather than a bug, since there's currently no explicit support for this advanced use case.

**TL;DR: `react-d3-tree` do

[2021-03-11 11:16] majdjaiasoft opened #337 "Change horizontal tree structure to files structure"
To be something like this:
![Web 1920 – 1](https://user-images.githubusercontent.com/52252597/110779208-f052c580-826b-11eb-82ae-4a8babeb9b4a.png)

[2021-03-12 10:44] sulcad14 opened #338 "Use images instead of svg shapes"
I recently updated to version 2.0.1 and I am struggling to set images instead of svg circles to individual nodes. In the older versions I used nodeSvgShape property:

[code]

However in the current version this does nothing. Is there any way how can I achieve this in the current version?
Thank you in advance

[2021-04-07 03:30] hellohejinyu opened #339 "don't have react-d3-tree.js in lib folder"
## Are you reporting a bug, or opening a feature request?
Bug

## What is the actual behavior/output?
![image](https://user-images.githubusercontent.com/8766034/113806150-662b4d80-9794-11eb-9458-03b8a1c9adfb.png)

## What is the behavior/output you expect?
Have `react-d3-tree.js` in lib folder, I need umd js file.

## What version of react-d3-tree are you using?
2.0.1

[2021-04-07 17:05] sscho opened #340 "Feature request: Radial tree"
## Are you reporting a bug, or opening a feature request?
Feature Request

## What is the behavior/output you expect?
How difficult would it be to implement this as a radial tree? I love the tool (thank you for developing this), but it gets a little weary once you have > 10 children coming out of a node. For my specific use case, I have 1 root, 60 children, 60 grandchildren, and 60 great-grandchil

[2021-04-16 03:52] hpennington opened #343 "Node identifier"
Is there anyway to pass an identifier from within data and retrieve it in the mouseup event handler?

[2021-04-16 03:56] hpennington opened #344 "Disable panning"
This is a feature request to be able to disable panning with a prop. What do you think?

[2021-04-16 16:56] #343 closed

[2021-04-16 18:22] #344 closed

[2021-04-21 13:19] Jordan-Hunt opened #345 "Is "_collapsible" property still available in v2? If not, what will be the alternative?"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
[Replace with your answer]

## What is the actual behavior/output?
[Replace with your answer if relevant]

## What is the behavior/output you expect?
[Replace with your answer if relevant]

## Can you consistently repr

[2021-04-22 07:52] Jordan-Hunt commented on #345
got it working this way

[code]

[2021-04-23 11:27] #332 closed

[2021-05-21 10:59] shablenko-sednor opened #346 "Data flow visualization"
Is there a way to visualize that there is something going from one leaf to another?

Something like on the gif, but instead of moving leafs, create some customizable dot or box which will from from A to B using built connection

![recording-2](https://user-images.githubusercontent.com/37369710/119127188-aab93280-ba3c-11eb-8e42-634bad75c557.gif)

[2021-06-03 09:20] rishihashbinary opened #347 "Fix `ERESOLVE` error during default install via `npm@7.x`"
Hello Team, I was trying to install the library in my application built using nextjs and react 17.0, however seems like the react version supported for the library if 16.0.

Following is the error log whiule installing the library
[code]
Thanks in advance.

[2021-06-03 22:24] bkrem commented on #347
Hi @rishihashbinary,

Thanks for making me aware of this. This seems to be some stricter peer dependency handling introduced by `npm v7` (`npm install` for `npm v6` and `yarn add` work as expected).

The library supports `react@17.x` (see the line `peer react@"16.x || 17.x" from react-d3-tree@2.0.1` in the stack trace), but it seems to be failing on the `react-transition-group` dependency specifie

[2021-06-04 13:01] akasranjan005 commented on #330
Any solution for this? I am facing a similar challenge, re-rendering the entire tree when tree size gets too big doesn't look like a good option. Any suggestion on how to handle updates in a large tree? Thanks.

[2021-06-06 03:42] AKmoex opened #348 "Change the style of a node"
## What is the behavior/output you expect?
 Thank you for your contribution, it helped me a lot.I have encountered some problems and want to find solutions.
Is there a way to individually change the style of a node of the tree species, for example, change its color
And,whether to support displaying a node that has no father and no children, just a single node

## What version of react-d3-tree are

[2021-06-07 17:48] bkrem commented on #347
Fixed in [v2.0.2](https://github.com/bkrem/react-d3-tree/releases/tag/v2.0.2) 🚀

[2021-06-07 17:48] #347 closed

[2021-06-11 04:12] Joroze opened #349 "Node missing parent attribute (onNodeClick callback) in v2.x"
## Are you reporting a bug, or opening a feature request?
Bug

## What is the actual behavior/output?
In version 1.x, the node object that the onClick callback function has contains a "parent" attribute. onNodeClick seems to replace onClick in version 2.x, but the node passed into the callback no longer contains a "parent" attribute.

## What is the behavior/output you expect?
onNodeClick should a

[2021-06-18 18:16] drfbwilliams opened #350 "Custom node, record types"
Hi,

I had previously implemented the lib and thought I would go ahead and attempt to update to 2.02 - the wheels fell of that pretty quickly.

In particular, I note that you've done an amazing job rewriting everything as TS first - yet all the examples are still JS etc - clearly it's a time consuming task to try and get it all done, so please don't read this as criticism.

The issues I am having

[2021-06-19 04:09] drfbwilliams opened #351 "Icons not rendering correctly"
Hey,

I noticed this same issue with the V1 releases as well -  I assume it has something to do with the svg being used to render the node, but icons are not rendering correctly on a node.

You can see it here with a simple example - the icons on the nodes should be crisp and sharp

https://codesandbox.io/s/rd3t-v2-custom-object-4dhdf?file=/src/goElement.js

Any pointers to resolve this would be m

[2021-06-19 06:28] drfbwilliams commented on #351
It appears that everything is converted to svg, which means that the props need to conform to an svg element.

To solve this, by default, material ui icons are set with a strokewidth of 1, which you can set to 0 in a style as well as specify a stroke and fill property value to modify the color as opposed to just color.

[2021-06-19 06:28] #351 closed

[2021-06-19 18:28] drfbwilliams commented on #350
After a day, I guess I have my own answer in that the Record<string, string> does indeed mean that the only way to pass custom data is by storing a JSON string in the record.

And as I assumed - yes it was a lot of work to make this change happen. I am not clear as to what the benefits are, though I am sure you have reasons for it.

Thanks for all the hard work put into your project - it is much a

[2021-06-19 18:28] #350 closed

[2021-06-22 05:49] mprabs opened #352 "Stop zoom behaviour on scroll"
## Are you reporting a bug, or opening a feature request?
May be a feature or help with an implementation

## What is the actual behavior/output?
Right now when you scroll on the tree, the tree either zooms in or zooms out and you can also drag the tree to different positions.

## What is the behavior/output you expect?
Is there a way that you can stop this zoom behavior on scroll but the drag fea

[2021-06-23 18:07] bkrem commented on #349
Hi @Joroze,

Thanks for making me aware of this, this was an unintended regression during the huge `v2` refactor.

This is one of those refactoring slip-ups where I ask myself how I could've missed this, also because the correct implementation - aligning the type of `Node` passed to `onNode...` handlers with the ones already used by `onLink...`handlers - drastically simplifies the internal handlin

[2021-06-23 18:43] bkrem commented on #350
Hi @drfbwilliams,

I've had some time to work on the library the last couple days and catch up on issues. Sorry to hear you were having trouble with the move to v2.
There are so many possible use cases in play (which also makes it great to see what people build of course) that I didn't realise that the typings for `attributes` had become too restrictive when compared to the loose implicit behaviou

[2021-06-23 18:50] bkrem commented on #352
Hi @mprabs,

Yes, this behaviour should've been possible already via the `zoomable` prop, but it needed some additionally work as expected post-v2 release.

I've patched it in [v2.0.4](https://github.com/bkrem/react-d3-tree/releases/tag/v2.0.4) to work as expected: if `props.zoomable` is set to `false`, the tree can still be dragged but the scale/zoom remains constant at the level set by `props.zo

[2021-06-23 18:50] #352 closed

[2021-06-24 02:14] drfbwilliams commented on #350
@bkrem thanks for the response - and please, no need to apologise for anything, like so many of these projects, you are putting in a lot work to benefit a lot of people (like myself), often without the thanks that should be given.

With respect to renderCustomNodeElement - yes I did take a look - thanks for the examples on codesandbox. My nodes are relatively complex elements with selected states

[2021-06-24 06:21] kl2853 opened #353 "FR: Add labels to links"
Opening a feature request for ability to add labels to links, the same way that is currently doable with nodes, e.g. for node apples ——> node apple pie, the apples-apple pie link can display a label “baking”.

[2021-06-24 16:45] bkrem commented on #349
Fixed in [v3.0.0](https://github.com/bkrem/react-d3-tree/releases/tag/v3.0.0).

While technically a breaking change due to the adjustment needed in the top-level API, this should be a relatively painless upgrade from v2.

The linked release notes also contain a before/after comparison to hopefully make things easier 🤞

Thanks again for reporting this 👍

[2021-06-24 16:45] #349 closed

[2021-06-24 19:35] Joroze commented on #349
Hi @bkrem, no problem!

How would you feel about the `renderCustomNodeElement` prop callback providing the same information such as the parent attribute, so we can also implement our own custom event handling logic along with that data?

[2021-06-25 13:16] bkrem commented on #349
Additional change for `renderCustomNodeElement` shipped in [v3.1.0](https://github.com/bkrem/react-d3-tree/releases/tag/v3.1.0) 🚀

Thanks for the contribution on this one @Joroze! 🙇

[2021-07-10 13:03] SultanAitakyn opened #356 "Zoomable in laptop touchpad"
## Zoomable ability in a laptop touchpad
Now zoomable ability works only with the mouse but does not work with a laptop touchpad.

Can you add zoomable ability also for the laptop touchpad(Pinch-to-zoom), thanks!

[2021-07-10 16:33] EDVoda commented on #144
Add this please, maybe this library will help you in implementation

https://www.npmjs.com/package/d3-flextree

[2021-07-12 12:49] transfer1992 opened #357 "Typings for hierarchyPointNode not working properly for me"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
A bug

## What is the actual behavior/output?
`hierarchyPointNode` is of type `any` by default

## What is the behavior/output you expect?
It is typed properly

## Can you consistently reproduce the issue/create a repr

[2021-07-12 16:59] bkrem commented on #357
Hi @transfer1992,

Thanks for pointing this out 🙏  `@types/d3-hierarchy` is the odd one out that needs to be a prod dependency not in `devDependencies`.

Fixed in [v3.1.1](https://github.com/bkrem/react-d3-tree/releases/tag/v3.1.1), should no longer need an explicit install of `@types/d3-hierarchy`.

[2021-07-12 16:59] #357 closed

[2021-07-28 17:23] carmenkolohe commented on #273
Hello! I am so happy to hear you were able to find the solution for this! I am having the same issue, I would like the recenter the tree to a specific node onClick. I understand that I need to use the translate property but, I am unsure of how to generate the correct x and y values. I appreciate any knowledge you share! Thank you!

[2021-08-05 05:25] mayurrotti opened #358 "Getting error with react-d3-tree."
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
is it a bug?
![Capture](https://user-images.githubusercontent.com/81507258/128295497-2a484605-8fee-404f-9722-401ed9fbab9f.PNG)

also checked that dequal is available in the node_modules

## What is the actual behavior/

[2021-08-09 16:53] MonVines opened #359 "Unable to modify link using "pathclassfunc" property"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
Bug

## What is the actual behavior/output?
CSS style definition is ignored  for "link". See the code style definition below:

/*1.*/
.link__to-leaf > link {
    fill: #00FF00; stroke: #FFFFFF
}
/*2.*/
.link__to-branch

[2021-08-09 16:56] MonVines commented on #359
What's the SVG tag used for styling links? "link"? "line"? I suspect, that tag is not correct since the above code works fine for "node___root", "node___branch", and "node___leaf".

[2021-08-09 17:13] MonVines commented on #359
When debugging the displayed page, I am able to see the link element ...

"<path class="rd3t-link link__to-branch" d="M0,0 V70 H0 V140" style="opacity: 1;"></path>"

"link__to-branch" is included in the "class" list but it is not ignored when displaying links.

[2021-08-12 23:09] MonVines commented on #359
Never mind.
link__to-leaf > link {
fill: #00FF00; stroke: #FFFFFF !important
}

"! important" fixed the problem. The default CCS definition used by GlobalCCS.js was over-ruling the link "stroke" definition.

[2021-08-12 23:09] #359 closed

[2021-08-18 08:34] truedrug opened #360 "Do we have functionalities like fitView?"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
This might be a feature request. I tried looking into the docs, but didn't find any related info
Request: To have `fitView` functionality, So that the generated tree be accommodated inside the given view

## What is th

[2021-08-24 12:21] truedrug opened #361 "Enable scrollbars on the overflowing svg"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
bug/clarification

## What is the actual behavior/output?
There are no scrollbars when the SVG is overflowing inside the container

## What is the behavior/output you expect?
There should be scrollbars when the SVG is

[2021-08-24 12:22] truedrug commented on #361
@bkrem

[2021-08-25 14:31] truedrug commented on #361
@bkrem Can you please help, if you are available?

[2021-08-25 14:51] bkrem commented on #361
Hi,

Could you please share the relevant code (how you're rendering the tree, what container you've put it in), along with a screenshot of how your issue looks visually?

It's not clear to me from the description what the issue is.

Since the component effectively renders a canvas that can be panned/zoomed, there's no way to know when the element inside is effectively overflowing its container. So

[2021-08-25 14:58] bkrem commented on #358
Hi,

Closing since I wasn't able to reproduce this.

Seems to be a local dependency issue but please comment again here if you can consistently reproduce this on a tool like codesandbox or similar 👍

[2021-08-25 14:58] #358 closed

[2021-08-25 15:15] bkrem commented on #336
Hi,

It's not clear to me what the behaviour for this requested feature would be.

Could you please link me to the relevant docs since you mentioned this is already natively supported by D3?

[2021-08-25 15:16] bkrem commented on #336
You're already able to render multiple instances of the tree in a single page/DOM hierarchy, but this seems to be something more specific

[2021-08-25 15:17] truedrug commented on #361
@bkrem I just created one - https://codesandbox.io/s/d3-tree-react-example-forked-8xbrk

how do I get the scrollbars instead of panning?

[2021-08-25 15:39] bkrem commented on #361
Thanks for the sandbox.

Given your example I don't think there's a way to do what you're asking out of the box (i.e. automatically switch to scrollbars once the graph begins to overflow your container, in this case seemingly the full page), since the `svg` canvas does not behave like a standard DOM element (there's no inherent concept of `overflow: scroll` like with relative positioned DOM elemen

[2021-09-06 10:30] ugintl opened #362 "Editable name and department"
I am not sure if it a feature request or this functionality exists.. Is it possible to add/edit name, department from the UI? Or is it all predefined?

[2021-09-06 18:58] #336 closed

[2021-09-08 08:59] Chen0523 commented on #310
Hallo! I had the same problem and I tried to disable the zoomable prop, but my tree is still dragable somehow.... Did you solve this problem with disable the zoomable prop?

Thanks!

[2021-09-21 04:18] truedrug commented on #361
@bkrem Is there anyway we can achieve this as a new feature? Or can you guide me a hack to resolve this problem? This is a requirement for my app

[2021-10-01 23:20] faizol opened #363 "[Question] How to display hierarchy from flat json array?"
## Are you reporting a bug, or opening a feature request?
[Question about feature which was available in the legacy version]

## What is the actual behavior/output?
[Legacy version supported the feature, but it seems it is not avilable in the latest version?]

## What is the behavior/output you expect?
[To display hierarchy from flat json array]

## What version of react-d3-tree are you using?
[Re

[2021-10-12 15:03] gouldie opened #364 "Disable Drag"
## Are you reporting a bug, or opening a feature request?
Feature request

## What is the actual behavior/output?
Unable to disable dragging since 2.0.4

We're currently trying to upgrade react-d3-tree in a project, but we'd like to be able to disable dragging of the tree. This was possible prior to v2.0.4 as setting `zoomable` to false also disabled the drag, but as far as I can tell since v2.0.4

[2021-10-21 18:54] spacegangster opened #365 "[Question] Orient a tree from leaves to the root or layout jack in?"
Hey, thanks a lot for this wonderful project!

How can I orient a tree from leaves to the root? In horizontal layout.
Or how can I plug-in my own layout function?

Sorry, if this is a wrong place to ask.

[2021-10-28 11:41] MakroCZ opened #366 "FR - Descendants remember state"
## Are you reporting a bug, or opening a feature request?
Feature request

## What is the actual behavior/output?
When collapsing node all descendants are recursively collapsed too (collapsed property set to true)

## What is the behavior/output you expect?
Descendants remember their state (collapsed / expanded), ideally as setting (when creating Tree?)

I tested solution with ONLY remembering sta

[2021-10-28 18:16] #365 closed, assigned to nobody

[2021-10-30 01:02] spacegangster commented on #365
@bkrem yes, depthFactor it is, thanks!

By layout function plug-in I mean something to patch the x,y coordinates of the nodes themselves.

[2021-11-09 14:28] Parisping commented on #348
I'm also interested in this issue. I'm using version 3.1.1.

Is there a system for handling the selected node, and having visual feedback of the last selected node?

[2021-11-19 14:15] OsmarJoseph commented on #287
Hi @noahhai, you increased the node distance based on the labels?

[2021-12-16 07:30] chingmunn opened #369 "Allow D3 event filtering"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
Feature request

## What is the actual behavior/output?
Click events are not working as expected on nodes that are interactive. E.g. when the node has an input element or Material-UI TextField.
## What is the behavior/

[2021-12-20 17:50] #369 closed

[2022-01-04 20:49] Romroot opened #371 "Customize zoom behaviour"
## Request type
Feature Request

## Motivation
Currently if we have long page and stop scrolling at our Tree component, if you will continue scroll: it will zoom in/out instead of continuing  scrolling. Instead of it we would expect to have this behaviour customizable - for example to pass customFilter

As a reference we can check google maps scroll/zoom behaviour where it allow us to scroll if yo

[2022-01-31 21:04] alexuong commented on #251
Was anyone able to figure out how to implement this?

[2022-02-04 10:49] tazihun opened #374 "Node orientation - start from the top left"
I'm working with this library, the only problem is that I need the orientation of each node to start at the top left of the layout and not on the top center.

Something similar to this: [image](https://i.stack.imgur.com/eygok.jpg)

Any ideas on how to do that?
Thank you in advance.

[2022-02-11 00:04] mauro-iemboli opened #376 "OnNodeMouseOut called before OnNodeMouseOver"
Hello everyone,

I'm using   react-d3-tree: "^3.2.1".

So this is happening:

`  <div
        id="treeWrapper"
        style={containerStyles}
        ref={props.horizontal ? containerRefHorizontal : containerRefVertical}

        <Tree
          data={orgChart}
          rootNodeClassName="node__root"
          branchNodeClassName="node__branch"
          leafNodeClassName="node__leaf"

[2022-03-05 16:18] bkrem commented on #151
This has been implemented via #381 and shipped as part of https://github.com/bkrem/react-d3-tree/releases/tag/v3.3.0 🚀

Closing.

[2022-03-05 16:18] #151 closed

[2022-03-06 12:41] bkrem commented on #151
### Update

https://github.com/bkrem/react-d3-tree/releases/tag/v3.3.1 ships a fix for a calculation bug when centering nodes via `dimensions` in `horizontal` orientation.

**Please update to `v3.3.1` instead if you want to use this feature.**

[2022-03-06 14:37] kalebm1 commented on #362
Hi @ugintl, this functionality is present!

The name is defined by the node `name` when you set the data, and attributes can be added custom as needed!

You can see an example of how data can be inserted at this [link](https://github.com/bkrem/react-d3-tree/blob/master/demo/src/examples/org-chart.json).

You can edit the name by editing the `name` field in the JSON listed above, and the department

[2022-03-15 11:53] Misil4 commented on #364
same problem here, zoomable only disabled mouse wheel

[2022-03-16 23:10] denniswalker commented on #340
I'd love to see this too fwiw.

[2022-03-25 17:32] marcos-medeiros opened #386 "Center Node feature only works when toggling the node. Not working with onNodeClick"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
BUG

## What is the actual behavior/output?
After enabling the dimensions prop, the center node feature works only when toggling the node. If you disable the `collapsible` feature, for instance, it doesn't work at all.

[2022-03-29 06:56] mprabs opened #387 "How can I add a custom path in a tree?"
## Are you reporting a bug, or opening a feature request?
Feature Request

## What is the actual behavior/output?
Right now, I'm using the exact data structure (not the exact data though)
![image](https://user-images.githubusercontent.com/29838005/160551257-3bfee96a-7385-407c-9b9a-d2fd610cf9de.png)
as shown in the docs to render a tree that looks like this.
![image](https://user-images.githubuserc

[2022-04-08 11:13] BartekMilew opened #390 "Initial State"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
bug

## What is the actual behavior/output?
can't render initial state
## What is the behavior/output you expect?
initial layout will be made.
## Can you consistently reproduce the issue/create a reproduction case (e.g

[2022-05-25 09:08] flyinfly opened #392 "Why does this method "renderCustomNodeElement" not work?"
like this:
[code]
It's doesn't work!

[2022-05-25 09:24] #392 closed

[2022-06-06 22:36] wangangela880 opened #394 "Question about not put root in center"
Hello, may i ask if it is possible not to put the root in center? My tree is really big, i want the root at the top, like the file system.

[2022-06-09 05:30] mrshukhratbek commented on #394
Hi! See this example link: https://codesandbox.io/s/0mfj8

[2022-06-09 15:58] hramir24-ford opened #395 "LeafNode not targeted correctly"
[Allows for additional className(s) to be passed to all leaf nodes (nodes without children).](https://bkrem.github.io/react-d3-tree/docs/interfaces/_tree_types_.treeprops.html#leafnodeclassname)

The link above defines leafnodes as nodes without children.
however.

[code]
having data in the  example above.
essentially a node with the children property but is just an empty array.
should technically

[2022-06-10 10:22] JoffreyChevalier opened #396 "[QUESTION] - How to move the position of node text"
Hi everyone 🖐️.

I want to move the position of the node text (name) but i didn't find how to do it despite my research.

If anyone can explain me how to do it, it will make my day 👍.

Thank you for your answers !

![Capture d’écran 2022-06-10 122232](https://user-images.githubusercontent.com/100203396/173045640-91eae059-be18-4589-bbfe-f9a8dff50e90.png)

[2022-06-13 07:40] arky commented on #371
@ra2dev Using 'Control + Scroll wheel' will conflict with Firefox default page zoom behavior.

[2022-06-30 13:40] kelvin9314 opened #397 "fix: allow react v 18 as peer dep"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
bug

## What is the actual behavior/output?
it show error while npm install

## What is the behavior/output you expect?
clear these the error while npm install

## Can you consistently reproduce the issue/create a repr

[2022-07-04 14:05] Slechani opened #399 "How to get the position of a node to translate the camera to it ?"
Hi, i currently have an input where the user can select from multiple strings (each string is the name of a node in the graph), I would like for the graph to zoom to the target node each time the user changes the select value.

I was able to do every step up until the translation, I understand that I need to use the translate prop but I don't know how to "find" the node by its name and how to find

[2022-07-12 14:08] michaeljohansen opened #400 "Held back at React 16 due to peer dependencies"
`react-d3-tree` depends on `@bkrem/react-transition-group`, which has a peer dependency on React 16. Maybe the repo `@bkrem/react-transition-group` (which does not have issues) should be upgraded to support React 18 (or at least React 17), or this repo should depend on the original `react-transition-group` to stay up-to-date?

I could try to submit a PR, but would be great with a pointer regarding

[2022-07-12 16:51] bkrem commented on #397
Hi @kelvin9314,

Thanks for making me aware of this and the PR you added :+1: I've had zero time to work on issues for this package the last couple of weeks so I'm currently catching up.

I've tested the package against react 18 and now published the peerDep adjustment (https://github.com/bkrem/react-d3-tree/releases/tag/v3.3.4) and updated the demo, which now runs against react@18.2.0.

Let me kn

[2022-07-12 16:51] #397 closed

[2022-07-12 17:01] bkrem commented on #400
Hi @michaeljohansen,

The original reason for forking the `react-transition-group` package was to monkey patch the additional peer dependency support for React 17 since the React team discontinued the v1 version of the package, so that's already there:
https://github.com/bkrem/react-transition-group/commit/ab91cf37ba1e90949f354fae4b9975144032a941

I've extended this to React 18 now, updated `@bkre

[2022-07-12 17:01] #400 closed

[2022-07-13 06:49] kelvin9314 commented on #397
Thanks mate

[2022-07-13 06:49] kelvin9314 commented on #397
Thanks mate

[2022-07-13 07:03] michaeljohansen commented on #400
That turn-around time though! It worked great, all warnings resolved. Thank you so much @bkrem ! 🤩

[2022-07-13 10:56] Hebsibal opened #401 "selection.interrupt is not a function"
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
Opening a bug

## What is the actual behavior/output?
<img width="990" alt="image" src="https://user-images.githubusercontent.com/107618055/178717419-543783da-3825-4350-9f35-a770e0457d54.png">

## Can you consistently

[2022-07-15 21:52] paulfedory opened #402 "Setting initial collapsed state of nodes"
## Are you reporting a bug, or opening a feature request?
Question or Feature Request

## What is the behavior/output you expect?
How do you set the initial collapsed/expanded state of any particular set of nodes in the Tree data?
In v1, we were able to do this via the `_collapsed` attribute - but setting the `__rd3t.collapsed` attribute does not have the same effect.

## What version of react-d3-

[2022-07-21 16:27] LakshmiKiranReddy commented on #162
Hi @bkrem ,

thanks for the component, it is really helpful, i am able to dynamically add the nodes, but unfortunately everytime the nodes are getting added to the parent node only, but my scenario is, i will click on a node and on that node i should be able to add parent or child.

Would this be possible with this component?
Once again, this component has all the options which i was looking for e

[2022-07-21 16:27] LakshmiKiranReddy opened #403 "Hi @bkrem ,"
Hi @bkrem ,

thanks for the component, it is really helpful, i am able to dynamically add the nodes, but unfortunately everytime the nodes are getting added to the parent node only, but my scenario is, i will click on a node and on that node i should be able to add parent or child.

Would this be possible with this component?
Once again, this component has all the options which i was looking for e

[2022-08-02 05:25] dharmishtha-chhatrodiya opened #405 "How to add a node at runtime or in dynamic data compared all the nodes and added where needed."
## What is the actual behavior/output?
I need to add a kr3 child node into the obj_1 parent node.
![image](https://user-images.githubusercontent.com/48204153/182297475-4fde730e-5a60-46c7-b6c5-99c8158fed46.png)

## What is the behavior/output you expect?
[Replace with your answer if relevant]
We need to add these nodes at runtime or when refreshing a page.
![image](https://user-images.githubusercon

[2022-08-17 06:28] Redzli opened #406 "Unable to start the project. Can't resolve 'react-d3-tree'"
Hey I followed all the instructions from `README.md` but end up getting the error message `Can't resolve 'react-d3-tree' in '.../react-d3-tree/demo/src`. Therefore I was unable to start the project.

Can someone help resolve this?

[2022-08-17 06:29] Redzli commented on #406
<img width="996" alt="image" src="https://user-images.githubusercontent.com/32372904/185049929-6ec33a7d-f59c-4d39-b9b4-9f13866d11f8.png">
Complete log

[code]

[2022-08-17 15:19] #406 closed

[2022-08-28 18:21] DanielLuu commented on #364
Any updates on this?

[2022-08-30 11:26] jheaff1 commented on #364
I too would like to be able to disable drag to just show a static tree

[2022-08-30 11:45] adheesh24 commented on #304
Any update on this? I am facing the same issue. How do we use foreign objects? The above link takes you to the main document itself.
Any help would be appreciated.

[2022-09-22 10:34] devam-Scaletech commented on #396
Hello @JoffreyChevalier,

Found one solution ,  in your custom css write
.node__branch > .rd3t-label > .rd3t-label__title
{
   transform: translate(-25px, 0px);
}

[2022-09-22 10:36] Devamchaudhari commented on #396
Hi @JoffreyChevalier

found one solution, in your custom css write

.node__branch > .rd3t-label > .rd3t-label__title {
	transform: translate(-25px, 0px);
}

[2022-10-05 17:49] zhouhao commented on #401
Thank you for building the great library.
My stack trace is as below, and I see a similar issue from another repo: https://github.com/vasturiano/react-force-graph/issues/310

[code]

[2022-10-05 20:09] zhouhao commented on #401
After de-duplicate d3-selection from package-lock.json file, finally, this component works.

[2022-10-06 10:56] #401 closed, assigned to nobody

[2022-10-12 07:20] msmfa commented on #364
Any plans to restore this feature? @bkrem

[2022-10-16 10:43] hiep294 commented on #284
I found ```opacity``` also cause bugs

[2022-10-22 11:52] bkrem commented on #395
Fixed in https://github.com/bkrem/react-d3-tree/releases/tag/v3.3.5

[2022-10-22 11:52] #395 closed

[2022-11-04 08:58] Damon99999 commented on #284
thx, In my project, the node position was wrong and the size was scaled down

[2022-11-16 01:04] ojhawkins opened #413 "Vulnerability with dependency "d3-color""
Thank you for taking the time to report an issue with react-d3-tree!

Feel free to delete any questions that do not apply.

## Are you reporting a bug, or opening a feature request?
Vulnerability with a dependency see: https://github.com/advisories/GHSA-36jr-mh4h-2g58
dependabot PR: https://github.com/bkrem/react-d3-tree/pull/407

## What is the actual behavior/output?
The d3-color dependency has

[2022-11-29 18:37] #413 closed

[2022-11-29 18:41] bkrem commented on #413
Fixed in https://github.com/bkrem/react-d3-tree/releases/tag/v3.3.6

Thanks for raising this explicitly @ojhawkins 🙏

Normally the vuln reports are devDeps only so I missed this initially. Need to clean up dependabot PRs for the devDeps at some point to avoid in future.